/* VCO.TimeAxis
================================================== */
.vco-timeaxis-background {
	height:@axis-height;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	background-color:@color-background;
	border-top: 1px solid darken(@ui-background-color,5);
	z-index:2;
}
.vco-timeaxis {
	height:@axis-height;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	z-index:3;
		
	.vco-timeaxis-content-container {
		position:relative;
		bottom:0;
		height:@axis-height;
		.vco-timeaxis-major, .vco-timeaxis-minor {
			opacity:0;
			.vco-timeaxis-tick {
				position:absolute;
				display:block;
				top:0;
				left:0;
				text-align: center;
				font-weight:normal;
				.vco-timeaxis-tick-text {
					display:inline-block;
					width:100%;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow:hidden;
				}
				&:before {
					content: "|";
					display:block;
					color:@color-background;
					width:1px;
					overflow:hidden;
					border-left: 1px solid darken(@ui-background-color,10);
					text-align:center;
				}
			}
		}
		
		.vco-timeaxis-major {
			.vco-timeaxis-tick {
				font-size:12px;
				line-height:14px;
				color:@major-ticks-color;
				width:@major-ticks-width;
				margin-left:-(@major-ticks-width/2);
				&:before {
					font-size:17px;
					line-height:17px;
					margin-bottom:3px;
					margin-left:(@major-ticks-width/2);
				}
			}
		}
		
		.vco-timeaxis-minor {
			.vco-timeaxis-tick {
				font-size:10px;
				line-height:12px;
				color:@minor-ticks-color;
				width:@minor-ticks-width;
				margin-left:-(@minor-ticks-width/2);
				.vco-timeaxis-tick-text {
					opacity:0;
				}
				&:before {
					font-size:10px;
					line-height:10px;
					margin-left:(@minor-ticks-width/2);
				}
			}
		}
		
		
	}

}

/* Skinny
================================================== */
.vco-skinny {
	.vco-timeaxis {

	}
}

/* Mobile, iPhone
================================================== */
.vco-mobile {
	.vco-timeaxis {

	}
}

/* Mobile, iPhone and skinny
================================================== */
.vco-mobile.vco-skinny {
	.vco-timeaxis {

	}
}