/* VCO.TimeAxis
================================================== */
.vco-timeaxis-background {
	height:@axis-height;
	width:100%;
	position:absolute;
	bottom:0;
	left:0;
	background-color:@color-background;
	border-top: 1px solid darken(@ui-background-color,5);
	
	//background-color:darken(@color-background,2);
	//.box-shadow(1px -1px 2px rgba(0,0,0,0.1));
	border-top: 1px solid @color-background;
	z-index:2;
}
.vco-timeaxis {
	//background-color:darken(@ui-background-color,25);
	//border: 1px solid darken(@ui-background-color, 50);
	height:@axis-height;
	width:100%;
	position:absolute;
	bottom:0;
	//bottom:-@axis-height + 10;
	left:0;
	z-index:3;
		
	.vco-timeaxis-content-container {
		position:relative;
		bottom:0;
		height:@axis-height;
		.vco-timeaxis-major, .vco-timeaxis-minor {
			.vco-timeaxis-tick {
				position:absolute;
				bottom:0;
				left:0;
				width:50px;
				margin-left:-25px;
				text-align: center;
				font-weight:normal;
				&:before {
					content: "|";
					display:block;
					color:@color-background;
					width:1px;
					margin-left:25px;
					overflow:hidden;
					border-left: 1px solid darken(@ui-background-color,10);
					text-align:center;
				}
			}
		}
		
		.vco-timeaxis-major {
			.vco-timeaxis-tick {
				font-size:12px;
				line-height:12px;
				bottom:3px;
				color:@major-ticks-color;
				&:before {
					font-size:17px;
					line-height:17px;
					margin-bottom:3px;
				}
			}
		}
		
		.vco-timeaxis-minor {
			.vco-timeaxis-tick {
				font-size:10px;
				line-height:10px;
				bottom:@axis-height - 20;
				color:@minor-ticks-color;
				&:before {
					font-size:10px;
					line-height:10px;
				}
			}
		}
		
		
	}

}

/* Skinny
================================================== */
.vco-skinny {
	.vco-timeaxis {

	}
}

/* Mobile, iPhone
================================================== */
.vco-mobile {
	.vco-timeaxis {

	}
}

/* Mobile, iPhone and skinny
================================================== */
.vco-mobile.vco-skinny {
	.vco-timeaxis {

	}
}