/* VCO.TimeMarker
================================================== */

.vco-timemarker {
	background-color:lighten(@ui-background-color,3);
	border: 1px solid darken(@ui-background-color, 5);
	width:100px;
	height:100%;
	height:50px;
	border-top-right-radius:7px;
	border-bottom-right-radius:7px;
	position:absolute;
	top:0;
	left:0;
	cursor:pointer;
	overflow:hidden;
	.box-shadow(1px 1px 2px rgba(255,255,255,.30));
	-webkit-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	   -moz-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	     -o-transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	        transition: all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */

	-webkit-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); 
	        transition-timing-function: cubic-bezier(0.250, 0.100, 0.250, 1.000); /* ease (default) */
		
	.vco-timemarker-content-container {
		

		.vco-timemarker-content {
			padding:5px;
			.vco-timemarker-text {
				h2.vco-headline {
					font-size:12px;
					line-height:12px;
					font-weight:normal;
					margin: 0 5px 0 5px;
					color:darken(@ui-background-color,15);
				}
			}
			.vco-timemarker-media {
				max-height:100%;
				max-width:100%;
			}
			
		}
		
	}
	&:hover {
		background-color:@color-background;
		border: 1px solid darken(@ui-background-color, 25);
		.box-shadow(1px 1px 2px rgba(0,0,0,.30));
		.vco-timemarker-content-container {
		
			.vco-timemarker-content {
				.vco-timemarker-text {
					h2.vco-headline {
						color:darken(@ui-background-color, 60);;
					}
				}
			
			}
		
		}
	}
	&.vco-timemarker-active {
		background-color:@color-theme;
		color:@color-background;
		&:hover {
			background-color:darken(@color-theme, 10);
		}
		.vco-timemarker-content-container {
		
			.vco-timemarker-content {
				.vco-timemarker-text {
					h2.vco-headline {
						color:@color-background;
					}
				}
			
			}
		
		}
	}
}

/* Skinny
================================================== */
.vco-skinny {
	.vco-timemarker {

	}
}

/* Mobile, iPhone
================================================== */
.vco-mobile {
	.vco-timemarker {

	}
}

/* Mobile, iPhone and skinny
================================================== */
.vco-mobile.vco-skinny {
	.vco-timemarker {

	}
}