# WARNING
# This project includes a .npmignore file which controls 
# what is published to the NPM registry. When editing
# this file, consider whether the ignored file(s) should
# also be kept out of the npm registry. 
# (The answer is probably "yes").
*.pyc
node_modules/

knight-lab-timelinejs-*.tgz

# Other
.DS_Store
codekit-config.json

build/website
build
*.log
dist
.vscode

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/
