<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title Here</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/main.css"/>

  </head>
  <body>
    {{{ body }}}
  <script src="/js/main.js"></script>
  </body>
</html>

