/* General styles */

/* Layout */
section {
  padding: 20px 0;
}
footer {
  margin-top: 30px;
}

/* Navbar */
.navbar {
  font-size: 14px;
  font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar .brand { color: #000; }
/*.navbar h3 { margin: 0; }*/
 .navbar .nav.pull-right>li>a { padding: 0; }
 .navbar .nav.pull-right img { margin-top: -10px; }
.nav-tabs {
    padding-top: 40px;
    padding-left: 60px;
}
.nav-tabs li {
    padding-bottom: 0;
}

/* Handle fixed position navbar obscuring page anchors */
.jump:before {
  display: block;
  content: " ";
  margin-top: -65px;
  height: 65px;
  visibility: hidden;
}

/* Overview */
#overview {
  padding: 40px 0 50px;
  margin: 0;
}

  #overview hgroup {
    text-align: center;
  }
#intro-copy {
    margin-top: 30px;
}

#changelog ul {
    font-size: 85%;
}

/* Experimental CSS to get rid of if we don't like it */
    #overview { margin-top: -45px; padding-bottom: 0;}
    #overview ul { list-style: none; margin: 30px 0; }
    #overview ul li {
        display: inline;
    }
    #overview a {
        color: #777;
        background: #fefefe;
        border: 1px solid #d0d0d0;
        padding: 10px 20px;
        margin: 0 16px;
        border-radius: 3px;
        font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
        white-space: nowrap;
    }
    #overview a:hover {
        text-decoration: none;
        background-color: #0f9bd1;
        color: #fff;
        border-color: #777;
    }
    h2.intro { margin-bottom: 10px; }
    #overview h4 {
        font-size: 14px;
        font-weight: normal;
        font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #777;
        margin: 0 0 30px;
        display: inline;
    }
    .banner {
        /*background: #ccc;*/
        background: #fff;
        border-top: solid 1px #aaa;
        padding: 10px 0;
        margin: 30px 0 0 0;
    }
    .banner img {
        margin-left: 20px;
    }
    .banner-content {
        display: inline;
    }
    .corner.banner {
        transform: rotate(-45deg);
        width: 300px;
        position: absolute;
        left: -71px;
        top: 16px;
        font-size: 85%;
        padding: 3px 0;
        border-bottom: solid 1px #aaa;
    }


/* Timeline */
#demo {
  width: 100%;
  height: 600px;
}

/* Steps */
.step {
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 20px;
    border-bottom: 4px double #eee;
}
.step.last { border: none; }

  
  .step h2 {
    margin-top: 0;
    margin-bottom: 0;
    color: #ccc;
    font-size: 100px;
    line-height: 1em;
  }

  .step h3 { margin-top: 0; }

.more-options {
  margin: 20px 0;
  display: none;
}

#preview-required {
  display: none;
  font-family: sans-serif;
  font-size: smaller;
  margin-top: 10px;
}

#preview {
  display: none;
}

#preview-embed-iframe {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* header */
.logo-mark.xl {
    margin-left: 65px;
}

/* Examples */
#examples h3 { 
  font-size: 16px;
  line-height: 1.3em;
}

h2.intro {
  margin: 20px auto 30px;
  max-width: 900px;
  padding: 0 20px;
}
#examples .row { 
  margin-bottom: 20px;
}

#examples img {
  margin-bottom: 10px;
}

/* Compatibility test page*/
#try-js3 { margin-top: 40px; }
#timeline-tester {
    margin: 20px auto;
    padding: 20px;
    background: #eee;
    border: 1px solid #ccc;
}

#timeline-tester small {
    font-size: 12px;
    font-family: sans-serif;
    font-style: italic;
}

#timeline-tester input {
    width: 85%;
    margin-bottom: 0;
}
#export-json {
    font-size: 12px;
    /*float: left;*/
}
#json-export-field {
    width: 95%;
    font-family: "Courier", sans-serif;
    font-size: 12px;
}

#timeline {
    height: 100%;
}

#more-fun {
    display: none;
    padding: 10px 0px 5px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
    margin-top: -4px;
}
#more-fun h5 {
    float: left;
    margin: 5px 40px 0 0;
}
#options p {
    float: left;
    padding: 0 5px;
    font-weight: bold;
}

#try-it{
    padding: 20px 0;
}
.note {
    margin-top: 40px;
    background: #eee;
    border: 1px solid #ccc;
    padding: 10px 20px;
}

.json-note.alert {
    text-align: center;
    margin-top: 30px;
    border-radius: 0;
}

p.caption {
    font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;    font-size: 13px;
    float: right;
    color: #777;
    margin: 5px 10px 20px;
}

#preview-inputs input,
#preview-inputs button{
    margin-bottom: 0;
    font-size: 13px;
}

#preview-inputs input {
    width: 80%;
    min-width: 320px;
    max-width: 600px;
    font-family: sans-serif;
}

p.input-label {
    margin-bottom: 0;
    font-size: 13px;
    font-family: sans-serif;
    color: #757575;
}

/* Developers */
#developers .develop {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

/* Error */
#error {
  margin-top: 40px;
  margin-bottom: 80px;
  padding-top: 40px;
  padding-bottom: 40px;
}

  #error .error {
    font-size: 36px;
    line-height: 1.3em;
    text-align: center;
    color: red;
  }
  
#mc-embedded-subscribe-form .input-large {
  width: 260px;
}  

#font-preview-trigger { margin-left: 10px;}

/* Footer */
footer,
#footer{
  padding: 10px 80px 0;
  font-size: 14px;
  background-color: #F3F3F3;
  border-bottom: 12px solid #520063;
  font-family: "Apres RE", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
footer a,
footer a:link,
footer a:visited {
  color: #666;
  text-decoration: underline;
  border: none;
}
#knightlab-logo-column {
  width: 25%;
  float: left;
  margin-right: 30px;
}
#knightlab-description {
  width: 65%;
  float: left;
  border-left: solid 1px #d0d0d0;
  padding-left: 20px;
}
#footer-outer {
  border-top: 4px solid #474748;
  background-image: linear-gradient(top, rgb(50,33,63) 14%, rgb(83,0,99) 66%, rgb(83,0,99) 44%);
  background-image: -o-linear-gradient(top, rgb(50,33,63) 14%, rgb(83,0,99) 66%, rgb(83,0,99) 44%);
  background-image: -moz-linear-gradient(top, rgb(50,33,63) 14%, rgb(83,0,99) 66%, rgb(83,0,99) 44%);
  background-image: -webkit-linear-gradient(top, rgb(50,33,63) 14%, rgb(83,0,99) 66%, rgb(83,0,99) 44%);
  background-image: -ms-linear-gradient(top, rgb(50,33,63) 14%, rgb(83,0,99) 66%, rgb(83,0,99) 44%);

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.14, rgb(50,33,63)),
    color-stop(0.66, rgb(83,0,99)),
    color-stop(0.44, rgb(83,0,99))
    );
  height: 14px;
}
.ie9 #footer-outer {
  background-image: none;
  background-color: #530063;
}

.about-knightlab {
  max-width: 840px;
  margin: auto;
  padding-top: 60px;
}

footer .col-940 {
  display: none;
}

footer ul {
  list-style: none outside none;
  margin: 0
}
footer ul.social {
  text-align: center;
  padding: 10px 0;
  /* override blueline */
  margin: 0 0 0 -20px;
  float: none;
  width: 100%;
}

footer ul.social a {
  border: none;
  text-decoration: none;
}

footer ul.social li{
  float: none;
  display: inline;
  font-size: 24px;
  line-height: 1.4em;
  padding-bottom: 3px;
  margin: 0 10px;
}

footer ul.social li a:hover{
  text-decoration: none;
  opacity: .9;
}
footer ul.logos {
  margin-top: 25px;
  border-left: 1px solid #CCCCCC;
}
footer ul.logos li{
  display: block;
  float: right;
}
footer address span.address,
footer address span.tel {
    padding-left: 0;
}
footer ul.logos li:hover{
  opacity: .85;
}
footer ul.logos li a{
  background: url("images/footer-logosheet.png") no-repeat scroll center top transparent;
  display: block;
  text-indent: -9999px;
}
footer ul.logos li a.northwestern{
  background-position: -42px -106px;
  height: 174px;
  margin-bottom: 17px;
  margin-left: 30px;
  width: 290px;
}

footer ul.logos li a.knightfoundation{
  background-position: 22px -283px;
  height: 83px;
  margin-bottom: 23px;
  margin-top: 14px;
  width: 383px;
}
footer ul.logos li a.medill{
  background-position: -221px -385px;
  height: 52px;
  margin-bottom: 20px;
  margin-left: 11px;
  width: 111px;
}
footer ul.logos li a.mccormick{
  background-position: -19px -385px;
  float: right;
  height: 52px;
  margin-bottom: 20px;
  width: 185px;
}
footer ul.logos li a.mccormickfound{
  background-position: -6px -462px;
  height: 68px;
  margin-bottom: 51px;
  margin-right: 34px;
  margin-top: 23px;
  width: 218px;
}
footer ul.logos li a.nsf{
  background-position: right -448px;
  float: right;
  height: 84px;
  margin: 0;
  width: 131px;
}

@media (max-width: 767px) {
    #overview {
        margin-left: -20px;
        margin-right: -20px;
    }
    #overview a { margin:0 10px; }
    .hero-unit { font-size: 16px; }
    h2.intro {
        font-size: 35px;
    }
    footer { padding: 10px 30px; }
    #knightlab-logo-column,
    #knightlab-description {
        width: 100%;
        float: none;
        text-align: center;
    }
    #knightlab-description {
        border-left: 0;
        text-align: left;
    }
    address { display: none; }
}

@media (max-width: 600px) {
    .corner.banner { left: -95px; top: 2px; }
    #overview ul li {
        display: block;
        margin: 10px 0;
    }
    #overview ul li a {
        padding: 10px 15%;
    }

}

@media (max-width: 500px) {
    .banner { margin-top: 20px; }
    .banner-content { display: block; }
    .banner img {
        margin: auto;
        display: block;
        width: 220px;
    }
    #overview .banner-content h4 { display: none; }
    .corner.banner {
        transform: rotate(0);
        top: 0;
        left: 0;
        margin-top: 0;
        width: 100%;
        background: #f3f3f3;
        border: 0;
        padding-bottom: 0;
    }
    h2.intro {
        font-size: 25px;
        margin: 10px 0;
    }
    .logo-mark.xl { margin-top: 25px; }
    #overview ul {
        margin: 20px 0;
    }
    #changelog,
    #intro-copy { margin-top: 0; padding-top: 0;}
    p.lead {
        font-size: 16px;
    }
}

@media (max-width: 450px) {
}
