<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{%block title%}Timeline{%endblock%}</title>
<meta name="keywords" content="">
<meta name="description" content="Timeline JS is a free, easy-to-use tool for telling stories in a timeline format.">
<link rel="stylesheet" href="https://cloud.typenetwork.com/projects/5433/fontface.css" />
<link rel="stylesheet" href="https://cdn.knightlab.com/libs/orangeline/latest/css/orangeline.min.css" />
<link rel="stylesheet" href="/static/css/site.css" />

<!-- favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="https://cdn.knightlab.com/libs/orangeline/latest/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" href="https://cdn.knightlab.com/libs/orangeline/latest/assets/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://cdn.knightlab.com/libs/orangeline/latest/assets/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="https://cdn.knightlab.com/libs/orangeline/latest/assets/favicons/manifest.json">
<link rel="mask-icon" href="https://cdn.knightlab.com/libs/orangeline/latest/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
<!-- /favicons -->

<!-- Open Graph -->
<meta property="og:type" content="article" />
<meta property="og:title" content="Timeline JS" />
<meta property="og:description" content="Easy-to-make, beautiful timelines." />
<meta property="og:image" content="https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-timeline.png" />
<meta property="og:url" content="https://timeline.knightlab.com/" />
<meta property="og:site_name" content="Timeline JS" />
<!-- /Open Graph -->

<!-- Twitter Card -->
<meta name="twitter:title" content="Timeline JS">
<meta name="twitter:description" content="Easy-to-make, beautiful timelines.">
<meta name="twitter:image" content="https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-timeline.png">
<meta name="twitter:site" content="@knightlab">
<meta name="twitter:creator" content="@TimelineJS">
<!-- /Twitter Card -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
<link rel="stylesheet" href="/static/css/desert.css" />