/*	Font Medula One & Lato

http://www.google.com/fonts/specimen/Medula+One
http://www.google.com/fonts/specimen/Lato
----------------------------------------------------- */
@import "../Variables.less"; 

// Font Import
@import url(http://fonts.googleapis.com/css?family=Lato:400,700,300italic|Medula+One);



@font-main:						'Lato', sans-serif;
@font-secondary:				'Medula One', cursive;

.vco-storymap {
	font-family: @font-main;
	font-weight:400;
	font-size: 16px;
	line-height: 24px;
	
	h1, h2, h3, h4, h5, h6 {
		font-family: @font-secondary;
		text-transform: none;
		font-weight:700;
		font-size:58px;
		line-height:58px;
	}
	
	h2.vco-headline-title {
		font-size: 72px;
		line-height: 72px;
	}
	
	p {
		font-family: @font-main;
		font-size: 16px;
		line-height: 24px;
	}
	strong {
		font-weight:700;
	}
	ul {
		font-family: @font-main;
	}
	.vco-media .vco-media-wikipedia h4 a {
		font-family: @font-main;
		font-weight:700;
		font-size:28px;
		line-height:28px;
	}
	.vco-caption, .vco-credit {
		font-family: @font-main;
	}
	
	.vcard {
		font-family: @font-main;
		font-weight:400;
	}
	
	.vco-slidenav-next, .vco-slidenav-previous {
		font-family: @font-main;
		font-weight:300;
		text-transform: none;
		.vco-slidenav-title {
			line-height:1.3em !important;
		}
	}
	
	.vco-menubar {
		font-family: @font-main;
		
		.vco-menubar-button {
			font-weight:400 !important;
		}
	}
	
	blockquote, blockquote p {
		font-family: @font-main;
		font-style: italic;
		font-weight:300;
	}
	
	
}

input[type="text"].editor-headline {
    font-family: @font-secondary;
    text-transform: none;
    font-weight:700;
    font-size:58px;
    line-height:58px;
}

