<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleDisplayName</key>
    <string>TimelineJS Example</string>
    <key>CFBundleIdentifier</key>
    <string>com.knightlab.TimelineJSExample</string>
    <key>CFBundleName</key>
    <string>TimelineJS Example</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>Height</key>
    <integer>630</integer>
    <key>MainHTML</key>
    <string>index.html</string>
    <key>Width</key>
    <integer>1294</integer>
    <key>IBNotifiesOnReady</key>
    <true/>
  </dict>
</plist>
