/* Icons
================================================== */

@font-face {
	font-family: 'tl-icons';
	src:url('@{icon-path}tl-icons.eot');
	src:url('@{icon-path}tl-icons.eot?#iefix') format('embedded-opentype'),
		url('@{icon-path}tl-icons.ttf') format('truetype'),
		url('@{icon-path}tl-icons.woff2') format('woff2'),
		url('@{icon-path}tl-icons.woff') format('woff'),
		url('@{icon-path}tl-icons.svg#tl-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="tl-icon-"], [class*=" tl-icon-"] {
	font-family: 'tl-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.tl-icon-vine:after {
	content: "\e64d";
}
.tl-icon-wikipedia:after {
	content: "\e64e";
}
.tl-icon-chevron-right:after {
	content: "\e64f";
}
.tl-icon-chevron-left:after {
	content: "\e650";
}
.tl-icon-youtube-logo:after {
	content: "\e651";
}
.tl-icon-foursquare:after {
	content: "\e652";
}
.tl-icon-camera-retro:after {
	content: "\e653";
}
.tl-icon-doc:after {
	content: "\e654";
}
.tl-icon-weibo:after {
	content: "\e655";
}
.tl-icon-resize-horizontal:after {
	content: "\e656";
}
.tl-icon-resize-vertical:after {
	content: "\e657";
}
.tl-icon-resize-full:after {
	content: "\e658";
}
.tl-icon-resize-small:after {
	content: "\e659";
}
.tl-icon-twitter:after {
	content: "\e62b";
}
.tl-icon-google-plus:after {
	content: "\e62c";
}
.tl-icon-video:after {
	content: "\e62d";
}
.tl-icon-youtube:after {
	content: "\e62d";
}
.tl-icon-plaintext:after {
	content: "\e62e";
}
.tl-icon-storify:after {
	content: "\e62e";
}
.tl-icon-image-v2:after {
	content: "\e62f";
}
.tl-icon-quote-v2:after {
	content: "\e630";
}
.tl-icon-zoom-in:after {
	content: "\e631";
}
.tl-icon-zoom-out:after {
	content: "\e632";
}
.tl-icon-list:after {
	content: "\e633";
}
.tl-icon-music:after {
	content: "\e634";
}
.tl-icon-spotify:after {
	content: "\e634";
}
.tl-icon-location:after {
	content: "\e635";
}
.tl-icon-googlemaps:after {
	content: "\e635";
}
.tl-icon-web:after {
	content: "\e636";
}
.tl-icon-share-v2:after {
	content: "\e637";
}
.tl-icon-soundcloud:after {
	content: "\e639";
}
.tl-icon-video-v2:after {
	content: "\e63a";
}
.tl-icon-dailymotion:after {
	content: "\e63a";
}
.tl-icon-tumblr:after {
	content: "\e63b";
}
.tl-icon-lastfm:after {
	content: "\e63c";
}
.tl-icon-github:after {
	content: "\e63d";
}
.tl-icon-goback:after {
	content: "\e63e";
}
.tl-icon-goend:after {
	content: "\e969";
}
.tl-icon-prev2:after {
	content: "\ea23";
}
.tl-icon-next2:after {
	content: "\ea24";
}
.tl-icon-doc-v2:after {
	content: "\e63f";
}
.tl-icon-googledrive:after {
	content: "\e640";
}
.tl-icon-facebook:after {
	content: "\e641";
}
.tl-icon-flickr:after {
	content: "\e642";
}
.tl-icon-dribbble:after {
	content: "\e643";
}
.tl-icon-image:after {
	content: "\e605";
}
.tl-icon-vimeo:after {
	content: "\e606";
}
.tl-icon-instagram:after {
	content: "\e644";
}
.tl-icon-pinterest:after {
	content: "\e645";
}
.tl-icon-arrow-left:after {
	content: "\e646";
}
.tl-icon-arrow-down:after {
	content: "\e647";
}
.tl-icon-arrow-up:after {
	content: "\e648";
}
.tl-icon-arrow-right:after {
	content: "\e649";
}
.tl-icon-share:after {
	content: "\e64a";
}
.tl-icon-blockquote:after {
	content: "\e64b";
}
.tl-icon-evernote:after {
	content: "\e64c";
}
.tl-icon-mappin:after {
	content: "\e600";
}
.tl-icon-swipe-right:after {
	content: "\e601";
}
.tl-icon-swipe-left:after {
	content: "\e602";
}
.tl-icon-touch-spread:after {
	content: "\e603";
}
.tl-icon-touch-pinch:after {
	content: "\e604";
}
.tl-icon-search::after{
    content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3C!--!%20Font%20Awesome%20Free%206.5.2%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%2Ffree%20(Icons%3A%20CC%20BY%204.0%2C%20Fonts%3A%20SIL%20OFL%201.1%2C%20Code%3A%20MIT%20License)%20Copyright%202024%20Fonticons%2C%20Inc.%20--%3E%3Cpath%20d%3D%22M416%20208c0%2045.9-14.9%2088.3-40%20122.7L502.6%20457.4c12.5%2012.5%2012.5%2032.8%200%2045.3s-32.8%2012.5-45.3%200L330.7%20376c-34.4%2025.2-76.8%2040-122.7%2040C93.1%20416%200%20322.9%200%20208S93.1%200%20208%200S416%2093.1%20416%20208zM208%20352a144%20144%200%201%200%200-288%20144%20144%200%201%200%200%20288z%22%2F%3E%3C%2Fsvg%3E");
}
.tl-icon-filter::after{
    content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3C!--!%20Font%20Awesome%20Free%206.5.2%20by%20%40fontawesome%20-%20https%3A%2F%2Ffontawesome.com%20License%20-%20https%3A%2F%2Ffontawesome.com%2Flicense%2Ffree%20(Icons%3A%20CC%20BY%204.0%2C%20Fonts%3A%20SIL%20OFL%201.1%2C%20Code%3A%20MIT%20License)%20Copyright%202024%20Fonticons%2C%20Inc.%20--%3E%3Cpath%20d%3D%22M3.9%2054.9C10.5%2040.9%2024.5%2032%2040%2032H472c15.5%200%2029.5%208.9%2036.1%2022.9s4.6%2030.5-5.2%2042.5L320%20320.9V448c0%2012.1-6.8%2023.2-17.7%2028.6s-23.8%204.3-33.5-3l-64-48c-8.1-6-12.8-15.5-12.8-25.6V320.9L9%2097.3C-.7%2085.4-2.8%2068.8%203.9%2054.9z%22%2F%3E%3C%2Fsvg%3E");
}