/* Icons
================================================== */

@font-face {
	font-family: 'tl-icons';
	src:url('@{icon-path}tl-icons.eot');
	src:url('@{icon-path}tl-icons.eot?#iefix') format('embedded-opentype'),
		url('@{icon-path}tl-icons.ttf') format('truetype'),
		url('@{icon-path}tl-icons.woff2') format('woff2'),
		url('@{icon-path}tl-icons.woff') format('woff'),
		url('@{icon-path}tl-icons.svg#tl-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="tl-icon-"], [class*=" tl-icon-"] {
	font-family: 'tl-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.tl-icon-vine:after {
	content: "\ea96";
}
.tl-icon-wikipedia:after {
	content: "\eac8";
}
.tl-icon-chevron-right:after {
	content: "\e315";
}
.tl-icon-chevron-left:after {
	content: "\e314";
}
.tl-icon-youtube-logo:after {
	content: "\ea9d";
}
.tl-icon-foursquare:after {
	content: "\e947";
}
.tl-icon-camera-retro:after {
	content: "\e90f";
}
.tl-icon-doc:after {
	content: "\e926";
}
.tl-icon-weibo:after {
	content: "\ea96";
}
.tl-icon-resize-horizontal:after {
	content: "\e8d4";
}
.tl-icon-resize-vertical:after {
	content: "\e8d5";
}
.tl-icon-resize-full:after {
	content: "\e989";
}
.tl-icon-resize-small:after {
	content: "\e98a";
}
.tl-icon-twitter:after {
	content: "\ea96";
}
.tl-icon-google-plus:after {
	content: "\ea8b";
}
.tl-icon-video:after {
	content: "\ea9d";
}
.tl-icon-youtube:after {
	content: "\ea9d";
}
.tl-icon-plaintext:after {
	content: "\e926";
}
.tl-icon-storify:after {
	content: "\e926";
}
.tl-icon-image-v2:after {
	content: "\e90d";
}
.tl-icon-quote-v2:after {
	content: "\e977";
}
.tl-icon-zoom-in:after {
	content: "\e987";
}
.tl-icon-zoom-out:after {
	content: "\e988";
}
.tl-icon-list:after {
	content: "\e9bd";
}
.tl-icon-music:after {
	content: "\ea94";
}
.tl-icon-spotify:after {
	content: "\ea94";
}
.tl-icon-location:after {
	content: "\e947";
}
.tl-icon-googlemaps:after {
	content: "\e947";
}
.tl-icon-web:after {
	content: "\e9cb";
}
.tl-icon-share-v2:after {
	content: "\ea82";
}
.tl-icon-soundcloud:after {
	content: "\eac3";
}
.tl-icon-video-v2:after {
	content: "\ea9d";
}
.tl-icon-dailymotion:after {
	content: "\ea9d";
}
.tl-icon-tumblr:after {
	content: "\eab9";
}
.tl-icon-lastfm:after {
	content: "\ea94";
}
.tl-icon-github:after {
	content: "\eab0";
}
.tl-icon-goback:after {
	content: "\e314";
}
.tl-icon-goend:after {
	content: "\e315";
}
.tl-icon-prev2:after {
	content: "\e314";
}
.tl-icon-next2:after {
	content: "\e315";
}
.tl-icon-doc-v2:after {
	content: "\e926";
}
.tl-icon-googledrive:after {
	content: "\ea8f";
}
.tl-icon-facebook:after {
	content: "\ea90";
}
.tl-icon-flickr:after {
	content: "\eaa4";
}
.tl-icon-dribbble:after {
	content: "\ea90";
}
.tl-icon-image:after {
	content: "\e90d";
}
.tl-icon-vimeo:after {
	content: "\eaa0";
}
.tl-icon-instagram:after {
	content: "\ea92";
}
.tl-icon-pinterest:after {
	content: "\ead1";
}
.tl-icon-arrow-left:after {
	content: "\ea44";
}
.tl-icon-arrow-down:after {
	content: "\ea43";
}
.tl-icon-arrow-up:after {
	content: "\ea41";
}
.tl-icon-arrow-right:after {
	content: "\ea42";
}
.tl-icon-share:after {
	content: "\ea7d";
}
.tl-icon-blockquote:after {
	content: "\e977";
}
.tl-icon-evernote:after {
	content: "\e926";
}
.tl-icon-mappin:after {
	content: "\e947";
}
.tl-icon-swipe-right:after {
	content: "\e315";
}
.tl-icon-swipe-left:after {
	content: "\e314";
}
.tl-icon-touch-spread:after {
	content: "\e989";
}
.tl-icon-touch-pinch:after {
	content: "\e98a";
}
.tl-icon-tiktok:after {
	content: "\e908";
}
.tl-icon-bluesky:after {
	content: "\e907";
}
