<!-- Overview-->
<header id="overview" class="panel">
  <div class="corner logo">
    <a href="https://knightlab.com"><img src="https://cdn.knightlab.com/libs/purpleline/latest/img/logos/logo_horizontal_NOtagline_615x205_transparent_padded.png" width="160"></a>
  </div>
  <div class="row">
    <div>
      <h1 class="logo-mark xl">Timeline <span><em>JS</em></span></h1>
      <h2 class="intro">Easy-to-make, beautiful timelines.</h2>
      <a class="button success large" data-scroll="true" href="#make">Make a Timeline</a>
    </div>
  </div>

  <div class="row sub-nav" data-magellan-expedition="fixed">
    <div class="small-12 columns">
      <ul>
        <li><a href="/index.html#overview" data-scroll="true">Overview</a></li>
        <li><a href="/index.html#make" data-scroll="true">Timeline creator</a></li>
        <li><a href="/index.html#examples" data-scroll="true">Examples</a></li>
        <li><a href="/index.html#help" data-scroll="true">Help</a></li>
        <li><a href="../docs/index.html">Documentation</a></li>
      </ul>
    </div>
  </div>
</div>
</header>
