<!-- Changelog -->
<section id="changelog" class="container">
  <div class="row">
    <div class="span6">
        <h2>Help us out!</h2>
        <p>TimelineJS3 is a public alpha, which means there are many rough patches that still need to be smoothed over. We need your help in discovering the issues that need to be addressed. Make a few timelines, and let us know if anything goes wrong.</p>
        <h2>What's new?</h2>
        <p>A little bit here about what's new in TimelineJS3. Maybe also some info about anything that you can no longer do? (Eras?)</p>
        <ul>
            <li>Bullet points are nice</li>
            <li>Just to highlight a few things</li>
            <li>Will there be a changelog?</li>
        </ul>

    </div>
    <div class="span6">
        <img style="border: 1px solid #ccc;" src="{{ static_url }}/img/timeline3_intro_image.png">
    </div>
  </div>
</section>
