<!-- Changelog -->
<section id="changelog" class="container">
  <div class="row">
    <div class="span6">
        <h2>Help us out!</h2>
        <p>TimelineJS 3 is a public alpha, which means there are still some rough patches that need to be smoothed over. We need your help in discovering the issues that need to be addressed. <a href="#test-drive">Make a few timelines</a>, and <a href="mailto:support@knightlab.zendesk.com?subject=TimelineJS3%20Feedback">let us know</a> if anything goes wrong.</p>
        <h2>What's changed?</h2>
        <ul>
            <li>Flexible row layout: no longer limited to 3/6 rows.</li>
            <li>Encapsulation: More than one timeline per page.</li>
            <li>Support for very large time scales: dinosaurs! the Big Bang!</li>
            <li>New media types: Dropbox images; <a href="http://documentcloud.org">DocumentCloud</a></li>
            <li>Dropped support for Pagepeeker (screenshots of websites)</li>
        </ul>
        <h2>What's coming?</h2>
        <ul>
            <li>Spreadsheet-based data format</li>
            <li>Support for "tags"</li>
            <li>Support for "eras"</li>
        </ul>
    </div>
    <div class="span6">
        <img style="border: 1px solid #ccc;" src="{{ static_url }}/img/timeline3_intro_image.png">
    </div>
  </div>
</section>
