<!-- Changelog -->
<section id="changelog" class="container">
  <div class="row">
    <div class="span12">
        <p>TimelineJS is Knight Lab's most popular product, but its rapid and widespread adoption have made it hard to change some things about it. TimelineJS 3 is a full rewrite designed to make this popular tool more flexible and easier to enhance.</p>
        <p>
            This site offers a preview of the new TimelineJS and an opportunity for more technical users to help us put the code through its paces and find obscure bugs. If you're a current user who is curious, you can <a href="#test-drive">see how your current timeline would look.</a> If you're brand new, you should probably <a href="http://timeline.knightlab.com">stick with the original TimelineJS.</a> If you want to help us out, <a href="hands-on.html">make a few timelines</a> and <a href="mailto:support@knightlab.zendesk.com?subject=TimelineJS3%20Feedback">let us know</a> if anything goes wrong.</p>
        </p>
    </div>
  </div>
  <div class="row">
    <div class="span6">
        <h2>What's changed?</h2>
        <ul>
            <li>Flexible row layout: no longer limited to 3/6 rows.</li>
            <li>Encapsulation: More than one timeline per page.</li>
            <li>Support for very large time scales: dinosaurs! the Big Bang!</li>
            <li>New media types: Dropbox images; <a href="http://documentcloud.org">DocumentCloud</a></li>
            <li>Dropped support for Pagepeeker (screenshots of websites)</li>
        </ul>
        <h2>What's coming?</h2>
        <ul>
            <li>Spreadsheet-based data format</li>
            <li>Support for "tags"</li>
            <li>Support for "eras"</li>
        </ul>
    </div>
    <div class="span6">
        <img style="border: 1px solid #ccc;" src="{{ static_url }}/img/timeline3_intro_image.png">
    </div>
  </div>
</section>
