<section id="compatibility" class="container">
  <div class="row">
    <div class="span12">
          <h2>Test-drive TimelineJS3</h2>
        <p>If you have existing timelines, you can enter the IDs of their spreadsheets here to see how they look and function in TimelineJS3.</p>
        <div id="try-it" class="row">
            <div id="preview-inputs" class="span6">
                <p><small><strong>Spreadsheet ID or URL</strong></small></p>
                <input type="text" placeholder="example: 0AmaVMvy285_tdHBod2s3aWFvZmlwVnZWcHFaZjBfdEE" id="url"/> <button type="button" id="go-preview" class="btn">Preview</button>
            </div>
            <div class="span6">
                <p><small><strong>Note on backwards compatibility</strong></small></p>
                <p><small>TimelineJS3 is not backwards-compatible with all media. Services that have updated their URL structures, such as Google Maps, will only appear when the timeline uses the most recent structure.</small></p>
            </div>
        </div>
    </div>
</div>
<div class="row">

</div>
</section>
