<!-- Demo -->
<section id="demo">
  <div id="timeline-embed">
    <div id="timeline"></div>
  </div>
</section>

<!-- build:css http://cdn.knightlab.com/libs/timeline3/%(cdn)s/css/timeline.css -->
<link rel="stylesheet" href="/build/css/timeline.css">
<!-- endbuild -->
<!-- build:js http://cdn.knightlab.com/libs/timeline3/%(cdn)s/js/timeline-min.js -->
<script src="/build/js/timeline.js"></script>
<!-- endbuild -->
<script>
  var timeline = new VCO.Timeline('timeline-embed', '{{ static_url }}/welcome/welcome.json', {
  });
  window.onresize = function(event) {
    timeline.updateDisplay();
  }
</script>
