<section id="examples">
<div class="row">
    <div class="small-10 small-offset-1 columns">
      <h2>Examples</h2>
      <p>Here are just a handful of side-by-side comparisons to illustrate the differences between TimelineJS and TimelineJS 3.</p>
  </div>
  </div>

  <!-- Examples Row 1-->
  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-2 medium-block-grid-4">
        <li>
          <a href="/examples/user-interface/index.html" target="_blank"><img src="{{ static_url }}/img/examples/thumbs/thumb_userinterface.png" class="thumbnail"></a>
          <h3><a href="/examples/user-interface/index.html" target="_blank">Revolutionary User Interfaces</a></h3>
        </li>
        <li>
          <a href="/examples/shit-people-say/index.html" target="_blank"><img src="{{ static_url }}/img/examples/thumbs/thumb_shtpeoplesay.jpg" class="thumbnail"></a>
          <h3><a href="/examples/shit-people-say/index.html" target="_blank">Shit People Say</a></h3>
        </li>
        <li>
          <a href="/examples/republican/index.html" target="_blank"><img src="{{ static_url }}/img/examples/thumbs/thumb_republican.jpg" class="thumbnail"></a>
          <h3><a href="/examples/republican/index.html" target="_blank">The Republican Run-Up</a></h3>
        </li>
        <li>
          <a href="/examples/houston/index.html" target="_blank"><img src="{{ static_url }}/img/examples/thumbs/thumb_houston.jpg" class="thumbnail"></a>
          <h3><a href="/examples/houston/index.html" target="_blank">Whitney Houston: 1963-2012</a></h3>
        </li>
      </ul>
    </div>
  </div>
</section>
