<li>
    <input type="checkbox" checked>
    <i></i>
    <h3>How do I edit my timeline?</h3>
    <div class="accordion-content">
        Once you've created a timeline, you can make changes by going back to your Google spreadsheet. Changes you make to the spreadsheet are automatically available to your Timeline—you don't need to repeat the 'publish to the web' step (step #2). If you want
        to make changes to the optional settings, you will need to update your embed code, but if you are only changing content in the spreadsheet, then there's nothing else to do.
    </div>
</li>
<li>
    <input type="checkbox" checked>
    <i></i>
    <h3>What web browsers does TimelineJS work with?</h3>
    <div class="accordion-content">
        Our primary development and testing browser is Google Chrome. We adhere closely to web standards, so we believe that TimelineJS should work effectively in all modern web browsers. TimelineJS is known to not work with Internet Explorer versions before
        IE10.
    </div>
</li>
<li>
    <input type="checkbox" checked>
    <i></i>
    <h3>What are my options for changing how my Timeline looks?</h3>
    <div class="accordion-content">
        First, make sure you know everything you can do in the spreadsheet configuration, like background colors and images. Also, check out the optional settings part of 'step 3' of the authoring tool. You can change the fonts, the position of the timeline navigation,
        and the initial zoom level. If you still want to do more, there are some configuration options available. Most of those are for fine tuning, but some of them may be helpful.
    </div>
</li>
<li>
    <input type="checkbox" checked>
    <i></i>
    <h3>There aren&#x27;t enough options. I want more control over the [font size/color/etc]. Can I change things using CSS?</h3>
    <div class="accordion-content">
        Because there are so many details to the styling, this is not exactly simple, but, if you have some technical capacity, you can override TimelineJS's <abbr title='Cascading Style Sheets'>CSS</abbr> rules and have complete control over the look
        of the timeline. For details, see <a href='/docs/overriding-styles.html'>Using the TimelineJS CSS selectors</a>. You will need to be able to <a href='/docs/instantiate-a-timeline.html'>instantiate the Timeline</a> in javascript on your own page.
        (There is no way to override the CSS using the <code>iframe</code> embed.) Then, either in <code>&lt;style&gt;</code> tags in that page, or in an external stylesheet, you can specify CSS rules changing some or all of TimelineJS's default presentation.
        The basis of TimelineJS's styles are in <a href='https://github.com/NUKnightLab/TimelineJS3/tree/master/src/less'>these files</a>, which use the <a href='http://lesscss.org/'>Less CSS preprocessor</a>.
    </div>
</li>
<li>
    <input type="checkbox" checked>
    <i></i>
    <h3>How can I categorize or group my events?</h3>
    <div class="accordion-content">
        Every event in a timeline can have a group property. Events with the same group are shown in the same row or adjacent rows, and the common value of their group property is used as a label at the left edge of the timeline. Groups can be set using the 'group'
        column in the Google Spreadsheet or the 'group' property of a JSON slide object. TimelineJS does not support any other special styling for events in the same group.
    </div>
</li>
<li>
    <input type="checkbox" checked>
    <i></i>
    <h3>The first slide in my timeline isn&#x27;t the first chronologically. Why did this happen?</h3>
    <div class="accordion-content">
    </div>
</li>
<li>
    <input type="checkbox" checked>
    <i></i>
    <h3>Can I make media images clickable?</h3>
    <div class="accordion-content">
    </div>
</li>
<li>
    <input type="checkbox" checked>
    <i></i>
    <h3>How can I format text (add line breaks, bold, italics)?</h3>
    <div class="accordion-content">
    </div>
</li>
<li>
    <input type="checkbox" checked>
    <i></i>
    <h3>How do I enter BCE dates?</h3>
    <div class="accordion-content">
    </div>
</li>
<li>
    <input type="checkbox" checked>
    <i></i>
    <h3>How do I create very ancient dates?</h3>
    <div class="accordion-content">
    </div>
</li>
<li>
    <input type="checkbox" checked>
    <i></i>
    <h3>Who can access the data in my Google spreadsheet?</h3>
    <div class="accordion-content">
    </div>
</li>
<li>
    <input type="checkbox" checked>
    <i></i>
    <h3>Privacy is very important to me. How should I use TimelineJS?</h3>
    <div class="accordion-content">
    </div>
</li>
<li>
    <input type="checkbox" checked>
    <i></i>
    <h3>Will my spreadsheet get picked up by search engines?</h3>
    <div class="accordion-content">
    </div>
</li>
<li>
    <input type="checkbox" checked>
    <i></i>
    <h3>Can I use TimelineJS with Wordpress? </h3>
    <div class="accordion-content">
    </div>
</li>
<li>
    <input type="checkbox" checked>
    <i></i>
    <h3>Is TimelineJS free for commercial use?</h3>
    <div class="accordion-content">
    </div>
</li>