    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timeline</title>
    <meta name="keywords" content="">
    <meta name="description" content="Knight Lab style guide">
    <link rel="stylesheet" href="https://cloud.webtype.com/css/d4767ecb-457a-4677-8761-72f890add836.css"/>
    <link rel="stylesheet" href="https://cdn.knightlab.com/libs/orangeline/latest/css/orangeline.min.css"/>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="../../assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="../../assets/favicons/manifest.json">
    <link rel="mask-icon" href="../../assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <!-- /favicons -->
