<section id="help" class="container">
  <div class="row">
    <div class="small-8 columns">
      <h2>Help</h2>
      <p>Need help? First, please be sure to look at our list of <a href="#faq-stub" data-scroll="true">frequently asked questions</a> below.
      If you're brand new to TimelineJS, you may also want to watch our <a href="https://vimeo.com/143407878">introductory video</a>.</p>
      <p>If you don't find an answer there, try our <a href="https://knightlab.zendesk.com/forums/22551396-TimelineJS">support forums</a> or
        use our <a href="https://knightlab.zendesk.com/anonymous_requests/new">tech support web form.</a>
        <b>Please be clear</b> with your question, <b>include a link to your spreadsheet</b>, and
        if appropriate, a link to a page which shows the issue with which you need help.
        <b>We can only answer support questions in English.</b>
        We try to be prompt, but please understand that we do not have a dedicated tech support staff.

      </p>
      <div class="panel">
        <h4> Find a bug?</h4>
        <p>If you are confident you have found a bug, please report it as <a href="https://github.com/NUKnightLab/TimelineJS3/issues">a GitHub issue</a>. Be sure to include detailed instructions on how to reproduce the bug. If you're not sure, please start with <a href="https://knightlab.zendesk.com/anonymous_requests/new">the tech support system</a>.</p>
      </div>
    </div>
    <div class="small-4 columns">
      <h4>Technical documentation</h4>
      <p>Go further with Timeline:</p>
      <ul>
        <li><a href="/docs/using-spreadsheets.html">Use our spreadsheet template</a></li>
        <li><a href="/docs/media-types.html">Supported Media Types</a></li>
        <li><a href="/docs/json-format.html">JSON data format reference</a></li>
        <li><a href="/docs/overriding-styles.html">Using the TimelineJS CSS selectors</a></li>
        <li><a href="/docs/options.html">Timeline Configuration Options</a></li>
        <li><a href="/docs/instantiate-a-timeline.html">Using TimelineJS in Javascript</a></li>
      </ul>
    </div>
    <div class="small-12 columns">
      <h4>Frequently asked questions</h4>
      <div class="row">
        <div class="small-12 columns" id="faq-stub">
          <div class="question">
            <p id="entering-bce-dates">How do I enter <em>BCE</em> dates?</p>
            <p>
              To enter dates before the <a href="https://en.wikipedia.org/wiki/Common_Era">common era</a>, just use a negative value for the year. Of course,
              you can also enter month and date if you need them.
            </p>
          </div>
          <div class="question">
            <p id="google-spreadsheet-visibility">Who can access the data in my Google spreadsheet?</p>
            <p>
              You must make the data public to the web to use TimelineJS with a Google Spreadsheet as the data source. Normally, the data is still
              only visible to people who know the link, so if you publish a timeline privately, outsiders are unlikely to see the data. However,
              it is still public, so you must decide if that is acceptable.
            </p>
          </div>
          <div class="question">
            <p id="wordpress">
              Can I use TimelineJS with Wordpress?
            </p>
            <p>
              <strong>It depends.</strong> TimelineJS does not work with Wordpress.com sites. If you have a Wordpress site hosted in another environment, you
              should be able to make it work. Please note: there is a <a href="https://wordpress.org/plugins/knight-lab-timelinejs/">Wordpress plugin for Timeline</a>. It
              <strong>does not work</strong> with this version of Timeline. We are working on releasing a new version which supports this version of Timeline. In the meantime, we recommend that you install the
                <a href="https://wordpress.org/plugins/iframe/">iframe plugin for Wordpress.</a> This plugin addresses the fundamental issue, which is that Wordpress strips
                <code>iframe</code> tags from posts for non-administrator users.
              </thead>
            </p>
          </div>
          <a class="button info">See the entire FAQ</a>
        </div>
    </div>
  </div>
</section>
