    <h3 id="media-types">Media Types</h3>
    <div class="row">
      <div class="span12">
      <p>
      People have always loved how easy TimelineJS makes it to add rich media to the slides that tell your story. The new version of Timeline continues the tradition and adds a few new media types.
      </p>
      <dl>
        <dt>Image</dt>
        <dd>If your URL ends in <code>jpg</code>, <code>gif</code>, <code>png</code> or <code>jpeg</code>, it will be used as the source for an image tag.</dd>
        <dt>YouTube</dt>
        <dd>Use the URL for the YouTube page of the video. Timeline honors <a href="http://youtubetime.com/">start-at time parameters</a>.</dd>
        <dt>Vimeo</dt>
        <dd>Use the URL for the <a href="http://vimeo.com">Vimeo</a> player page.</dd>
        <dt>DailyMotion</dt>
        <dd>Use the URL for the <a href="http://DailyMotion.com">DailyMotion</a> player page.</dd>
        <dt>Vine</dt>
        <dd>(details TK)</dd>
        <dt>SoundCloud</dt>
        <dd>(details TK)</dd>
        <dt>Twitter</dt>
        <dd>(details TK)</dd>
        <dt>Google Maps</dt>
        <dd>(details TK)</dd>
        <dt>Google Plus</dt>
        <dd>(details TK)</dd>
        <dt>Flickr</dt>
        <dd>(details TK)</dd>
        <dt>Instagram</dt>
        <dd>(details TK)</dd>
{#         <dt>Instagram Profile</dt> <!-- this one seemed kinda uncertain -->
        <dd>(details TK)</dd>
 #}        <dt>DocumentCloud</dt>
        <dd>(details TK)</dd>
        <dt>Image</dt>
        <dd>(details TK)</dd>
        <dt>Google Doc</dt>
        <dd>(details TK)</dd>
        <dt>Wikipedia</dt>
        <dd>(details TK)</dd>
        <dt>Spotify</dt>
        <dd>(details TK)</dd>
        <dt>iframe</dt>
        <dd>(details TK)</dd>
        <dt>Storify</dt>
        <dd>(details TK)</dd>
        <dt>Blockquote</dt>
        <dd>(details TK)</dd>
        <dt>Website</dt>
        <dd>(details TK)</dd>

      </dl>
      </div>
    </div>
