    <h3 id="media-types">Media Types</h3>
    <div class="row">
      <div class="span12">
      <p>
      People have always loved how easy TimelineJS makes it to add rich media to the slides that tell your story. The new version of Timeline continues the tradition and adds a few new media types.
      </p>
      <dl>
        <dt>Image</dt>
        <dd>If your URL ends in <code>jpg</code>, <code>gif</code>, <code>png</code> or <code>jpeg</code>, it will be used as the source for an image tag.</dd>

        <dt>YouTube</dt>
        <dd>Use the URL for the YouTube page of the video. Timeline honors <a href="http://youtubetime.com/">start-at time parameters</a>.</dd>

        <dt>Vimeo</dt>
        <dd>Use the URL for the <a href="http://vimeo.com">Vimeo</a> player page.</dd>

        <dt>DailyMotion</dt>
        <dd>Use the URL for the <a href="http://DailyMotion.com">DailyMotion</a> player page.</dd>

        <dt>Vine</dt>
        <dd>Use the URL for the <a href="http://Vine.co">Vine</a> player page.</dd>

        <dt>SoundCloud</dt>
        <dd>Use the URL for the <a href="http://soundcloud.com">SoundCloud</a> player page.</dd>

        <dt>Twitter</dt>
        <dd>Use the URL provided in the <a href="http://twitter.com">Twitter</a> embed code.</dd>
        
        <dt>Google Maps</dt>
        <dd>Use the URL for the <a href="http://google.com.maps">Google Maps</a> page.</dd>
        
        <dt>Google Plus</dt>
        <dd>Use the URL for the <a href="http://plus.google.com">Google Plus</a> photo's page.</dd>

        <dt>Instagram</dt>
        <dd>Use the URL for the <a href="http://www.instagram.com">Instagram</a> photo's page.</dd>
        
        <dt>Flickr</dt>
        <dd>Use the URL for the <a href="http://www.flickr.com">Flickr</a> photo's page.</dd>

{#      
           <dt>Instagram Profile</dt> <!-- this one seemed kinda uncertain -->
        <dd>(details TK)</dd>
 #}     
        <dt>DocumentCloud</dt>
        <dd>Use the URL of the <a href="http://www.documentcloud.org">Document Cloud</a> document's page.</dd>
        
        <dt>Google Doc</dt>
        <dd>Use the shareable URL provided for your <a href="http://www.google.com/docs/">Google Doc</a>.</dd>
        
        <dt>Wikipedia</dt>
        <dd>Use the URL of the <a href="https://en.wikipedia.org/">Wikipedia</a> article's page.</dd>
        
        <dt>Spotify</dt>
        <dd>Use the 'Spotify URL' of the <a href="http://www.spotify.com">Spotify</a> track or playlist</dd>
        
        <dt>iframe</dt>
        <dd>Embedding the iFrame code will display the iFrame as the media.</dd>
        
        <dt>Storify</dt>
        <dd>Use the URL of the <a href="http://www.storify.com">Storify</a>.</dd>
        
        <dt>Blockquote</dt>
        <dd>(details TK)</dd>
        
        <dt>Website</dt>
        <dd>Use the URL of the website.</dd>

      </dl>
      </div>
    </div>
