<section id="changelog">
  <div class="row">
  <hr />
    <div class="small-12 medium-6 columns" id="intro-copy">
        <p>TimelineJS is an <a href="https://github.com/NUKnightLab/TimelineJS3">open-source</a> tool that enables anyone to build visually rich, interactive timelines. Beginners can create a timeline using nothing more than a Google spreadsheet. Experts can use their JSON skills to create custom installations, while keeping TimelineJS's core functionality.</p>
        <h3>Tips & tricks</h3>
          <ol>
            <li>Keep it short. We recommend not having more than 20 slides for a reader to click through.</li>
            <li>Pick stories that have a strong chronological narrative. It does not work well for stories that need to jump around in the timeline.</li>
            <li>Write each event as a part of a larger narrative.</li>
            <li>Include events that build up to major occurrences — not just the major events.</li>
          </ol>
        </div>
          <div class="small-12 medium-6 columns">
            <h3>Sign up for updates</h3>
            <p>Get updates, tips and news by email. No spam.</p>
        <!-- MailChimp Signup Form-->
        <div id="mc_embed_signup">
          <form id="mc-embedded-subscribe-form" action="//northwestern.us2.list-manage.com/subscribe/post?u=ccc3ef81b4c3c762eb7a7d2b4&amp;id=ff5b6c54e5" method="post" name="mc-embedded-subscribe-form" target="_blank" class="validate form-inline row collapse">
          <span class="mc-field-group small-9 columns">
              <input id="mce-EMAIL" type="email" value="" name="EMAIL" placeholder="Email" class="input-large required email">
            </span>
            <span class="mc-field-group small-3 columns">
            <button id="mc-embedded-subscribe" type="submit" value="Subscribe" name="subscribe" class="button tiny postfix">Subscribe</button>
            <div id="mce-responses" class="clear">
              <div id="mce-error-response" style="display: none;" class="response alert alert-error"></div>
              <div id="mce-success-response" style="display: none;" class="response alert alert-success"></div>
            </div>
            <div class="clear"></div>
          </form>
        </div>
            <h3>Media sources</h3>
            <p>TimelineJS can pull in media from <a href="/docs/media-types.html">a variety of sources</a>.
            <br /><span class="help-inline">Twitter, Flickr, Imgur, YouTube, Vimeo, Vine, Dailymotion, Google Maps, Wikipedia, SoundCloud, Document Cloud and more!</span></p>


      </div>
  </div>

  <div class="row">
      <div class="small-12 medium-5 columns">
      </div>
  </div>
</section>
