<section id="changelog">
  <div class="row">
  <hr />
    <div class="small-12 medium-10 columns" id="intro-copy">
        <p class="lead">TimelineJS is an open-source tool that enables anyone to build visually rich, interactive timelines. Beginners can create a timeline using nothing more than a Google spreadsheet. Experts can use their JSON skills to create custom installations, while keeping TimelineJS's core functionality.</p>
    </div>
  </div>
  <div class="row">
      <div class="small-12 medium-5 columns">
            <h3>Media sources</h3>
            <p>TimelineJS can pull in media from <a href="docs/media-types.html">a variety of sources</a> and has built-in support for:</p>
            <ul class="supported-media">
              <li>Twitter</li>
              <li>Flickr</li>
              <li>Google Maps</li>
              <li>YouTube</li>
              <li>Vimeo</li>
              <li>Vine</li>
              <li>Dailymotion</li>
              <li>Wikipedia</li>
              <li>SoundCloud</li>
              <li>DocumentCloud</li>
              <li>Dropbox images</li>
              <li><a href="/docs/media-types.html">and more!</a></li>
            </ul>
            </div>
      <div class="small-12 medium-6 medium-offset-1 columns panel">
            <h3>A few of our favorite features</h3>
            <ul>
                <li>Free for commercial and personal use. (<a href="/docs/faq.html#licensing">Read more about our licensing.</a>)</li>
                <li>Incorporate as many timelines per page as you want.</li>
                <li>Extensive <a href="/docs/">documentation</a></li>
                <li>Experimental support for very large time scales: dinosaurs! the Big Bang!</li>
                <li>Create a timeline with our <a href="#make" data-scroll="true">embed generator</a> or <a href="/docs/instantiate-a-timeline.html">create one with JavaScript</a> for more control.</li>
            </ul>


        <h4>Sign up for updates</h4>
        <p>Get updates, tips and news by email. No spam.</p>
        <!-- MailChimp Signup Form-->
        <div id="mc_embed_signup">
          <form id="mc-embedded-subscribe-form" action="//northwestern.us2.list-manage.com/subscribe/post?u=ccc3ef81b4c3c762eb7a7d2b4&amp;id=ff5b6c54e5" method="post" name="mc-embedded-subscribe-form" target="_blank" class="validate form-inline row collapse">
          <span class="mc-field-group small-9 columns">
              <input id="mce-EMAIL" type="email" value="" name="EMAIL" placeholder="Email" class="input-large required email">
            </span>
            <span class="mc-field-group small-3 columns">
            <button id="mc-embedded-subscribe" type="submit" value="Subscribe" name="subscribe" class="button tiny postfix">Subscribe</button>
            <div id="mce-responses" class="clear">
              <div id="mce-error-response" style="display: none;" class="response alert alert-error"></div>
              <div id="mce-success-response" style="display: none;" class="response alert alert-success"></div>
            </div>
            <div class="clear"></div>
          </form>
        </div>

      </div>
  </div>

  <div class="row">
      <div class="small-12 medium-5 columns">
      </div>
  </div>
</section>
