<section class="moth--product">
    <h3>Storytelling Tools</h3>
    <p class="product-tagline">We build easy-to-use tools that can help you tell better stories.</p>
    <div class="grid grid-size-4 grid-size-2-tablet grid-size-1-phone">
        <div class="grid-item">
            <a href="http://timeline.knightlab.com/" class="button button-dark">
                <img class="img-rounded" src="https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-timeline.png">
                <h4 class="product-logo product-logo-small">Timeline <span>JS</span></h4>
                <p class="product-tagline">Easy-to-make, beautiful timelines.</p>
            </a>
        </div>
        <div class="grid-item">
            <a href="http://storymap.knightlab.com/" class="button button-dark">
                <img class="img-rounded" src="https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-storymap.png">
                <h4 class="product-logo product-logo-small">StoryMap <span>JS</span></h4>
                <p class="product-tagline">Maps that tell stories.</p>
            </a>
        </div>
        <div class="grid-item">
            <a href="http://juxtapose.knightlab.com/" class="button button-dark">
                <img class="img-rounded" src="https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-juxtapose.jpg">
                <h4 class="product-logo product-logo-small">Juxtapose <span>JS</span></h4>
                <p class="product-tagline">Easy-to-make frame comparisons.</p>
            </a>
        </div>
        <div class="grid-item">
            <a href="http://soundcite.knightlab.com/" class="button button-dark">
                <img class="img-rounded" src="https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-soundcite.png">
                <h4 class="product-logo product-logo-small">Soundcite <span>JS</span></h4>
                <p class="product-tagline">Seamless inline audio.</p>
            </a>
        </div>
    </div>
    <a href="http://knightlab.northwestern.edu/projects/" class="button button-dark" style="margin-top:1rem;z-index:22;">View More</a>
</section>
