<section id="test-drive">
  <div class="row">
    <div class="small-6 small-offset-1 columns">
        <h2 class="jump">Test-drive TimelineJS 3</h2>
        <p>If you have existing timelines, you can enter the Google spreadsheet URL here to see how they look and function in TimelineJS 3. This is the same thing you'd enter in step 3 of the <a href="http://timeline.knightlab.com/#make">current TimelineJS creator.</a></p>
        <p>While TimelineJS 3 is still in "alpha", we aren't offering an iframe embed tool. If you're comfortable with a more hands-on approach, <a href="/hands-on.html">see this guide</a>. If you really want to go deep, see <a href="https://github.com/NUKnightLab/TimelineJS3/">the GitHub repository</a>.</p>
        </div>
        <div class="small-3 columns panel note">
            <p><small><strong>Note on backwards compatibility</strong></small></p>
            <p><small>TimelineJS 3 is not backwards-compatible with all media. Services that have updated their URL structures, such as Google Maps, will only appear when the timeline uses the most recent structure.</small></p>
        </div>
        <div class="small-3 columns"></div>
    </div>
</div>
<div class="row">
    <div class="small-10 small-offset-1 columns">
        <div id="try-it"class="row collapse">
            <div id="preview-inputs">
                <p><small><strong>Spreadsheet ID or URL</strong></small></p>
                <input class="small-10 columns" type="text" placeholder="example: 0AmaVMvy285_tdHBod2s3aWFvZmlwVnZWcHFaZjBfdEE" id="url"/>
                <div class="small-2 columns">
                  <button id="go-preview" class="button small postfix">Preview</button>
                </div>
                <p class="alert alert-danger" id="preview-required">Please enter a Google Spreadsheet URL or id. </p>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="row">
    <div class="small-12 columns" id="timeline-wrapper" style="display:none; padding-top: 40px;">
        <h2 id="slideshow-top">Preview</h2>
        <div id="timeline"></div>
        <div class="json-note alert alert-info">
            <p><small>Want to embed this timeline? A TimelineJS 3 embed generator is in the works.</small></p>
            <p><small>For right now, you can export the JSON to use in your projects.</small>
            <div><a href="#json-export-modal" data-toggle="modal" class="btn btn-info" type="button" id="export-json">Export JSON for this timeline</a></div>
        </div>
        <div id="json-export-modal" class="modal hide fade" tabindex="-1" role="dialog" >
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">TimelineJS 3 JSON</h3>
          </div>
          <div class="modal-body">
            <p>Since TimelineJS 3 is still under active development, use this with caution. The data format is likely to change.
            </p>
            <textarea id="json-export-field" rows="15" cols="50"></textarea>
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
      </div>

    </div>
</div>
</section>
