{% extends "base.html" %}
{% block header %}
<title>Timeline JS3 - Test With Old Google Spreadsheets</title>
    <style>
      html, body {
       height:100%;
       width:100%;
       padding: 0px;
       margin: 0px;
      }
    </style>
    <!-- HTML5 shim, for IE6-8 support of HTML elements-->
    <!--if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    -->

{% endblock %}

{% block content %}
    <div class="container" id="try-js3">
        <div class="row">
            <div class="span2 spacer"></div>
            <div class="span8" >
                <h1>Try TimelineJS3</h1>
                <p>To view existing timelines as TimelineJS3 projects, paste a Google Spreadsheet ID or URL in the box below. You'll also be able to generate TimelineJS3 JSON from your preview.</p>
                <div id="timeline-tester">
                <h4>Enter spreadsheet ID or URL</h4>
                    <div id="preview-inputs">
                        <input type="text" placeholder="Enter spreadsheet ID or URL" id="url"/> <button type="button" id="go-preview" class="btn">Preview</button>
                    </div>
                    <p><small>example: 0AmaVMvy285_tdHBod2s3aWFvZmlwVnZWcHFaZjBfdEE</small></p>
                </div>
            </div>
            <div class="span2 spacer"></div>
        </div>
    </div>
    <div class="container-fluid" id="more-fun">
        <div class="row">
            <div class="span1 spacer"></div>
            <div class="span10">
                <h5>Previewing TimelineJS3</h5>
                <div id="options">
                    <a href="#json-export-modal" data-toggle="modal" class="btn btn-warning" type="button" id="export-json">Export JSON for this timeline</a>
                    <p>- or -</p>
                    <div id="inputs"></div>
                </div>
                <div id="json-export-modal" class="modal hide fade" tabindex="-1" role="dialog" >
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">TimelineJS3 JSON</h3>
                  </div>
                  <div class="modal-body">
                    <p>Since TimelineJS3 is still under active development, use this with caution. The data format is likely to change.
                    </p>
                    <textarea id="json-export-field" rows="15" cols="50"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                  </div>
              </div>
            </div>
        <div class="span1 spacer"></div>
    </div>
  </div>
<div id="timeline"></div>
{% endblock %}

{% block scripts %}
    <!-- JavaScript-->
    <!-- build:css http://cdn.knightlab.com/libs/timelinejs3/%(cdn)s/css/timeline.css -->
    <link rel="stylesheet" href="/build/css/timeline.css">
    <!-- endbuild -->
    <!-- build:js http://cdn.knightlab.com/libs/timelinejs3/%(cdn)s/js/timeline-min.js -->
    <script src="/build/js/timeline.js"></script>
    <!-- endbuild -->
    <script>
    var timeline = null;
    var button = document.getElementById('go-preview');
    button.addEventListener('click',function(){
      new_timeline(document.getElementById('url').value);
    });

    document.getElementById('url').addEventListener('keyup',function(evt) {
      if (evt.keyCode == 13) {
        new_timeline(document.getElementById('url').value);
      }
    });

    function new_timeline(url) {
        timeline = null; // TODO: actively 'destroy' an existing timeline?
        var json = VCO.ConfigFactory.fromGoogle(url);
        // if the timeline was generated from the main page, not the navbar
        if ($("#timeline-tester #preview-inputs").length){
            $("#export-json").show();
            $("#try-js3").fadeOut('slow', function(){
                $("#more-fun").fadeIn();
            });
            var inputs = document.getElementById("preview-inputs");
            $(inputs).remove();
            $("#more-fun .span10 #inputs").append(inputs);
        }
        $("#url").val('');
        window.factory_json = json;
        $("#json-export-field").val(JSON.stringify(json,null,"  "));
        /*document.getElementById('input').style.height = "40px"*/
        document.getElementById('timeline').style.height = (window.innerHeight - 95 + "px");

        timeline = new VCO.Timeline('timeline', new VCO.TimelineConfig(json), {
        });

        window.onresize = function(event) {
            console.log("resize")
            document.getElementById('input').style.height = "30px"
            document.getElementById('timeline').style.height = (window.innerHeight - 95 + "px");
            timeline.updateDisplay();
        }
    }

    function getQueryParams(qs) {
      qs = qs.split("+").join(" ");

      var params = {}, tokens,
          re = /[?&]?([^=]+)=([^&]*)/g;

      while (tokens = re.exec(qs)) {
          params[decodeURIComponent(tokens[1])]
              = decodeURIComponent(tokens[2]);
      }

      return params;
    }

    var qs = getQueryParams(window.location.search);
    if (qs.key) {
      new_timeline(qs.key);
    }

    </script>

{% endblock %}
