{% extends "base.html" %}
{% block header %}
<title>Timeline JS3 - Test With Old Google Spreadsheets</title>
    <style>
      html, body {
       height:100%;
       width:100%;
       padding: 0px;
       margin: 0px;
      }
      .vco-timeline {
      }
      
    </style>
    <!-- HTML5 shim, for IE6-8 support of HTML elements-->
    <!--if lt IE 9
    script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    
    -->
    <style type="text/css">
      #input {
          height: 40px;
          background-color:#CCC;
      }
      #url {
        margin:10px;
      }
      #timeline { height: 100%;}
    </style>

{% endblock %}

{% block content %}

    <div id="input">Enter a google spreadsheet ID or URL: <input type="text" id="url" style="width: 500px"/> <button type="button" id="preview">Go</button>
    </div>
    <div id="timeline"></div>
{% endblock %}

{% block scripts %}
    <!-- JavaScript-->
    <!-- build:css http://cdn.knightlab.com/libs/timelinejs3/%(cdn)s/css/timeline.css -->
    <link rel="stylesheet" href="/build/css/timeline.css">
    <!-- endbuild -->
    <!-- build:js http://cdn.knightlab.com/libs/timelinejs3/%(cdn)s/js/timeline-min.js -->
    <script src="/build/js/timeline.js"></script>
    <!-- endbuild -->
    <script>
    var timeline = null;
    var button = document.getElementById('preview');
    button.addEventListener('click',function(){
      new_timeline(document.getElementById('url').value);
    });

    document.getElementById('url').addEventListener('keyup',function(evt) {
      if (evt.keyCode == 13) {
        new_timeline(document.getElementById('url').value);
      }
    });

    function new_timeline(url) {
        timeline = null; // TODO: actively 'destroy' an existing timeline?
        var json = VCO.ConfigFactory.fromGoogle(url);
      
        window.factory_json = json;
        
        document.getElementById('input').style.height = "40px"
        document.getElementById('timeline').style.height = (window.innerHeight - 40 + "px");
        
        timeline = new VCO.Timeline('timeline', new VCO.TimelineConfig(json), {
        });
      
        
        window.onresize = function(event) {
            console.log("resize")
            document.getElementById('input').style.height = "30px"
            document.getElementById('timeline').style.height = (window.innerHeight - 30 + "px");
            timeline.updateDisplay();
        }
    }
    
    function getQueryParams(qs) {
      qs = qs.split("+").join(" ");

      var params = {}, tokens,
          re = /[?&]?([^=]+)=([^&]*)/g;

      while (tokens = re.exec(qs)) {
          params[decodeURIComponent(tokens[1])]
              = decodeURIComponent(tokens[2]);
      }

      return params;
    }

    var qs = getQueryParams(window.location.search);
    if (qs.key) {
      new_timeline(qs.key);
    }

    </script>

{% endblock %}