{% extends "base.html" %}

{% block content %}
<section id="test-drive" class="container">
<h2>Hands On Timeline3</h2>
  <div class="row">
    <div class="span8">
        <p>
          
        </p>
    </div>
    <div class="span4">
        <div class="note">
            <p>
              While Timeline3 is in "alpha," it will take more technical skills to try it out. If you don't want to go there, you can still use <a href="http://timeline.knightlab.com">the current TimelineJS site</a>.
            </p>
        </div>
    </div>
  </div>
</section>
{% endblock %}

