{% extends "base.html" %}

{% block content %}
  {% include "_overview.html" %}
  {# include "_demo.html" #}
  {# include "_description.html" #}
  {# include "_make.html" #}
  {# TODO: update help/FAQ #}
  {# include "_help.html" #}
  {% include "_changelog.html" %}
  {% include "_test_drive.html" %}
  {% include "_examples.html" %}
  {% include "_developers.html" %}
{% endblock %}

{% block scripts %}
<!-- Override -->
<script type="text/javascript">
    var generator_embed_path = "http://cdn.knightlab.com/libs/timelinejs3/dev/embed/index.html";
</script>
<!-- build:js http://cdn.knightlab.com/libs/timelinejs3/%(cdn)s/js/timeline-embed-generator.js -->
<script type="text/javascript">
    var generator_embed_path = "/source/embed/index.html";
</script>    
<script src="/build/js/timeline-embed-generator.js"></script>
<!-- endbuild -->
<script src="{{ static_url }}/js/main.js"></script>


    <script>

    </script>
{% endblock %}
