{% extends "base.html" %}

{% block content %}
{% include "_header.html" %}

<p class="note note-alert">
    Because of an unexpected error in Google's spreadsheet access service, most timelines are currently not working. <br><b>We are aware of this situation, and we have implemented a workaround.</b> <br>If you "share" your spreadsheet with an "anyone with the link can view" setting, it should work again. <br>Follow <a href="https://twitter.com/knightlab">our Twitter account</a> for more information. We apologize for any inconvenience.
</p>
<article id="product-body">
    {% include "_demo.html" %}
    {% include "_overview.html" %}
    {% include "_examples.html" %}
    {% include "_make.html" %}
    {% include "_help.html" %}
</article>

{% include "_storytelling_tools.html" %}

{% endblock content %}

