{% extends "base.html" %}

{% block content %}

<section id="test-drive">
  <h3 id="add-javascript">Add Javascript to your page</h3>
  <div class="row">
    <div class="small-12 columns">
    <p>
    Once you have your timeline data, it only takes a few lines of code to add it to your page. First, be sure to load the library itself (both javascript and CSS). Then, instantiate a timeline instance with two arguments.
    </p>

    <pre class="prettyprint lang-html">
    &lt;link title="timeline-styles" rel="stylesheet" href="//cdn.knightlab.com/libs/timeline3/latest/css/timeline.css"&gt;

    &lt;script src="//cdn.knightlab.com/libs/timeline3/latest/js/timeline.js">&lt;/script&gt;
    &lt;script type="text/javascript"&gt;
      // two arguments: the id of the Timeline container (no '#')
      // and the URL to your JSON data file. In this case, a relative URL.
      window.timeline = new VCO.Timeline('timeline-embed', 'timeline3.json');

      // You may also want to ensure that the timeline redraws 
      // when the window is resized
      window.onresize = function(event) {
        timeline.updateDisplay();
      }
    &lt;/script&gt;
    </pre>
    </div>
  </div>
</section>
{% endblock %}

