{% extends "base.html" %}

{% block content %}
     <!-- Add the class "sticky" to "top-bar" to make the navbar sticky. -->
     <nav class="top-bar" data-topbar role="navigation">
       <div class="row">
        <ul class="title-area">
          <li class="name">
            <h1><a href="//timeline3.knightlab.com">TimelineJS 3</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="logo"><a href="//knightlab.northwestern.edu/" alt="Northwestern University Knight Lab"><img width="130" src="//cdn.knightlab.com/libs/purpleline/latest/img/logos/logo_horizontal_NOtagline_383x91_transparent_NOpadding.png"></a></li>
          </ul>
          <!-- Left Nav Section -->
          <ul class="left">
            <li><a href="//timeline3.knightlab.com">Overview</a></li>
            <li><a href="//timeline3.knightlab.com#test-drive">Test Drive</a></li>
            <li><a href="//timeline3.knightlab.com#examples">Examples</a></li>
            <li class="active"><a href="//timeline3.knightlab.com/hands-on.html">Hands-On</a></li>
          </ul>
        </section>
      </div>
    </nav>
<section id="test-drive">
  <div class="row">
    <div class="small-12 columns">
    <p class="panel note">
          We're still working on the tools that make TimelineJS 3 easy for less-technical users. If raw code gives you the willies, keep using the <a href="http://timeline.knightlab.com">original TimelineJS website</a> for now.
        </p>

        <h2>Hands-On TimelineJS 3</h2>
        <p>
          Adding a Timeline to your page has two steps:
          <ol>
            <li><a href="#json-file">Create a JSON configuration file</a></li>
            <li><a href="#add-javascript">Add JavaScript to your page to load the Timeline.</a></li>
          </ol>
        </p>

    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
    <h3 id="json-file">TimelineJS 3 JSON</h3>
    <p>
      TimelineJS 3 has a new JSON format. If you just want to dive in, you can probably copy from one of our examples (like the one about <a href="https://github.com/NUKnightLab/TimelineJS3/blob/master/website/templates/examples/houston/timeline3.json">Whitney Houston</a>). If you have a Google Spreadsheet for the original TimelineJS, you can also use our <a href="/index.html#test-drive">test drive</a> feature to preview it and then export the new JSON. (Look for the blue button below the rendered Timeline.)
    </p>
    <p>
      The TimelineJS 3 JSON format consists of a single JSON object with up to three keys:
      <dl>
        <dt><code>events</code> (required)</dt>
        <dd><strong>value:</strong> a JSON list of "slide" objects (<a href="#json-slide" data-scroll="true">see below</a>)</dd>
        <dt><code>title</code> (optional)</dt>
        <dd><strong>value:</strong> a "slide" object (<a href="#json-slide" data-scroll="true">see below</a>)</dd>
        <dt><code>scale</code> (optional)</dt>
        <dd><strong>value:</strong> either <code>javascript</code> or <code>cosmological</code>. If no scale is specified, the default is <code>javascript</code>. The <code>cosmological</code> scale is required to handle dates in the very distant past or future. (Before Tuesday, April 20th, 271,821 BCE after Saturday, September 13 275,760 CE) For the <code>cosmological</code> scale, only the year is considered, but it's OK to have a <code>cosmological</code> timeline with years between 271,821 BCE and 275,760 CE. </dd>
      </dl>
    </p>
    <p id="json-slide" class="jump">
      <strong><em>Slide objects</em></strong> are JSON objects with up to four keys:
      <dl>
        <dt><code>start_date</code> (required)</dt>
        <dd><strong>value:</strong> a "date" object (<a href="#json-date" data-scroll="true">see below</a>)</dd>
        <dt><code>end_date</code> (optional)</dt>
        <dd><strong>value:</strong> a "date" object (<a href="#json-date" data-scroll="true">see below</a>)</dd>
        <dt><code>text</code> (optional but recommended)</dt>
        <dd><strong>value:</strong> a "text" object (<a href="#json-text" data-scroll="true">see below</a>) </dd>
        <dt><code>media</code> (optional)</dt>
        <dd><strong>value:</strong> a "media" object (<a href="#json-media" data-scroll="true">see below</a>) </dd>
      </dl>
    </p>
    <p id="json-date" class="jump"><strong><em>Date objects</em></strong> are JSON objects with up to seven keys:</p>
    <dl>
        <dt><code>year</code> (required)</dt>
        <dd><strong>value:</strong> a number. Don't use commas. BCE years should be negative numbers. Don't use the letters "BC", "BCE" or any others.</dd>
        <dt><code>month</code> (optional)</dt>
        <dd><strong>value:</strong> a number from 1-12 (Javascript experts don't outsmart yourselves: Timeline corrects for Javascript's strange use of "0" for "January", etc.)</dd>
        <dt><code>day</code> (optional)</dt>
        <dd><strong>value:</strong> a number</dd>
        <dt><code>hour</code> (optional)</dt>
        <dd><strong>value:</strong> a number</dd>
        <dt><code>minute</code> (optional)</dt>
        <dd><strong>value:</strong> a number</dd>
        <dt><code>second</code> (optional)</dt>
        <dd><strong>value:</strong> a number</dd>
        <dt><code>millisecond</code> (optional)</dt>
        <dd><strong>value:</strong> a number</dd>
    </dl>
    <p id="json-text" class="jump"><strong><em>Text objects</em></strong> are JSON objects with up to two keys. For each slide, text objects are optional.</p>
    <dl>
        <dt><code>headline</code> (required)</dt>
        <dd><strong>value:</strong> any text. HTML markup is OK. Blank is also OK, but the key must be present in the JSON object.</dd>
        <dt><code>text</code> (optional)</dt>
        <dd><strong>value:</strong> any text. HTML markup is OK. Blank is also OK, but the key must be present in the JSON object.</dd>
    </dl>
    <p id="json-media" class="jump"><strong><em>Media objects</em></strong> are JSON objects with up to three keys. For each slide, media objects are optional.</p>
    <dl>
        <dt><code>url</code> (required)</dt>
        <dd><strong>value:</strong> a URL (see <a href="#media-types">media types</a> below).</dd>
        <dt><code>caption</code> (optional)</dt>
        <dd><strong>value:</strong> any text. HTML markup is OK.</dd>
        <dt><code>credit</code> (optional)</dt>
        <dd><strong>value:</strong> any text. HTML markup is OK.</dd>
    </dl>
    </div>
    <h3 id="add-javascript">Add Javascript to your page</h3>
    <div class="row">
      <div class="small-12 columns">
      <p>
      Once you have your timeline data, it only takes a few lines of code to add it to your page. First, be sure to load the library itself (both javascript and CSS). Then, instantiate a timeline instance with two arguments.
      </p>

      <pre class="prettyprint lang-html">
      &lt;link title="timeline-styles" rel="stylesheet" href="//cdn.knightlab.com/libs/timeline3/latest/css/timeline.css"&gt;

      &lt;script src="//cdn.knightlab.com/libs/timeline3/latest/js/timeline.js">&lt;/script&gt;
      &lt;script type="text/javascript"&gt;
        // two arguments: the id of the Timeline container (no '#')
        // and the URL to your JSON data file. In this case, a relative URL.
        window.timeline = new VCO.Timeline('timeline-embed', 'timeline3.json');

        // You may also want to ensure that the timeline redraws 
        // when the window is resized
        window.onresize = function(event) {
          timeline.updateDisplay();
        }
      &lt;/script&gt;
      </pre>
      </div>
    </div>
    {% include "_media_types.html" %}
  </div>
</section>
{% endblock %}

