<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Timeline</title>
    <meta name="keywords" content="">
    <meta name="description" content="Knight Lab style guide">
    <link rel="stylesheet" href="https://cloud.webtype.com/css/d4767ecb-457a-4677-8761-72f890add836.css"/>
    <link rel="stylesheet" href="https://cdn.knightlab.com/libs/orangeline/latest/css/orangeline.min.css"/>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="../../assets/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../../assets/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="../../assets/favicons/manifest.json">
    <link rel="mask-icon" href="../../assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <!-- /favicons -->

</head>


<body>
    <nav id="navbar-product-top" class="navbar navbar-dark">
    <ul>
        <li class="logo">
            <a href="http://knightlab.com">
                <img src="https://cdn.knightlab.com/libs/orangeline/latest/assets/knightlab-dark.png" />
            </a>
        </li>
    </ul>
    <ul class="nav-right column-hide-phone">
        <li><a class="button button-dark button-small-tablet" href="http://knightlab.northwestern.edu/projects/">Projects</a></li>
        <li><a class="button button-dark button-small-tablet" href="https://knightlab.northwestern.edu/class">Class</a></li>
        <li><a class="button button-dark button-small-tablet" href="https://knightlab.northwestern.edu/devicelab">Device Lab</a></li>
        <li><a class="button button-dark button-small-tablet" href="http://knightlab.northwestern.edu/news/">Blog</a></li>
        <li><a class="button button-dark button-small-tablet" href="http://knightlab.northwestern.edu/events/">Community</a></li>
        <li><a class="button button-dark button-small-tablet" href="http://knightlab.northwestern.edu/about/">About</a></li>
    </ul>
</nav>

    <header class="header-product">
	<h1 class="product-logo product-logo-large">Timeline <span>JS</span></h1>
	<h2 class="product-tagline">Easy-to-make, beautiful timelines.</h2>
	<a class="button button-secondary button-large button-small-phone" href="#make">Make a Timeline</a>
    <nav id="navbar-secondary" class="navbar navbar-subnav column-hide-phone">
        <ul>
            <li class="logo">
                <h2 class="product-logo product-logo-smallest">Timeline <span>JS</span></h2>
            </li>
        </ul>
        <ul>
                <li><a class="button" href="#overview">Overview</a></li>
                <li><a class="button" href="#examples">Examples</a></li>
                <li><a class="button" href="#make">Make a Timeline</a></li>
                <li><a class="button" href="#help">Help</a></li>
        </ul>
    </nav>
</header>

    <article id="product-body">
        <section id="demo" class="container-fluid">
            <div class="product-demo">
                <iframe frameborder="0" src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1xuY4upIooEeszZ_lCmeNx24eSFWe0rHe9ZdqH2xqVNk&amp;font=Default&amp;lang=en&amp;initial_zoom=2&amp;height=100%" width="100%"></iframe>
            </div>

        </section>
        <section id="overview" class="container">
        	<div class="grid-size-2 grid-size-1-phone">
        		<div class="grid-item">

        			<p>
        				TimelineJS is an open-source tool that enables anyone to build visually rich, interactive timelines. Beginners can create a timeline using nothing more than a Google spreadsheet, like the one we used for the Timeline above. Experts can use their JSON skills to create custom installations, while keeping TimelineJS's core functionality.
        			</p>
                    <figure>
                        <div class="embed embed-16by9">
                            <iframe class="embed-item" src="https://player.vimeo.com/video/143407878"></iframe>
                        </div>
                    	<figcaption class="credit">Knight Lab</figcaption>
                    	<figcaption>
                    		A caption for the above image. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Suspendisse id velit vitae ligula volutpat condimentum. Aliquam erat volutpat.
                    	</figcaption>
                    </figure>

        		</div>
        		<div class="grid-item">
        			<h3 style="margin-top:0;">Tips &amp; tricks</h3>
        			<ol>
        				<li>Keep it short. We recommend not having more than 20 slides for a reader to click through.</li>
        				<li>Pick stories that have a strong chronological narrative. It does not work well for stories that need to jump around in the timeline.</li>
        				<li>Write each event as a part of a larger narrative.</li>
        				<li>Include events that build up to major occurrences — not just the major events.</li>
        			</ol>
        			<h3>Media sources</h3>
        			<p>
        				TimelineJS can pull in media from a variety of sources.
        				Twitter, Flickr, YouTube, Vimeo, Vine, Dailymotion, Google Maps, Wikipedia, SoundCloud, Document Cloud and more!
        			</p>
        		</div>
        	</div>

        </section>

        <section class="section-color fill-color-grey--lightest" id="examples">
    <div class="container">
        <h2>Examples</h2>
        <div class="example-grid">
                <div class="grid-item">
                    <a href="http://world.time.com/2013/12/05/nelson-mandelas-extraordinary-life-an-interactive-timeline/" class="button button-light">
                        <figure class="examples">
                            <img src="https://timeline.knightlab.com/static/img/examples/thumbs/thumb_mandela.jpg" alt="Mandela: A Life of Purpose">
                        </figure>
                        <img src="https://timeline.knightlab.com/static/img/examples/logos/logo_time.png" class="logo-inline">
                        <h4>Mandela: A Life of Purpose</h4>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="http://www.lemonde.fr/election-presidentielle-2012/visuel/2012/04/21/chronologie-une-si-longue-campagne-presidentielle_1681661_1471069.html#meter_toaster" class="button button-light">
                        <figure class="examples">
                            <img src="https://timeline.knightlab.com/static/img/examples/thumbs/thumb_lemonde.jpg" alt="Chronology of the French Presidential Race">
                        </figure>
                        <img src="https://timeline.knightlab.com/static/img/examples/logos/logo_lemonde.png" class="logo-inline">
                        <h4>Chronology of the French Presidential Race</h4>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="http://www.themaneater.com/special-sections/mu-fall-2015/" class="button button-light">
                        <figure class="examples">
                            <img src="https://timeline.knightlab.com/static/img/examples/thumbs/thumb_univofmissouri.jpg" alt="Historic Fall at University of Missouri">
                        </figure>
                        <img src="https://timeline.knightlab.com/static/img/examples/logos/logo_maneater.png" class="logo-inline">
                        <h4>Historic Fall at University of Missouri</h4>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="http://www.cnn.com/2016/04/20/asia/north-korea-restaurant-defectors/index.html" class="button button-light">
                        <figure class="examples">
                            <img src="https://timeline.knightlab.com/static/img/examples/thumbs/thumb_northkorea.jpg" alt="North Korea&#x27;s Nuclear Ambitions">
                        </figure>
                        <img src="https://timeline.knightlab.com/static/img/examples/logos/logo_cnn.png" class="logo-inline">
                        <h4>North Korea&#x27;s Nuclear Ambitions</h4>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="http://bulger.wbur.org/story/1977/?location&#x3D;44444" class="button button-light">
                        <figure class="examples">
                            <img src="https://timeline.knightlab.com/static/img/examples/thumbs/thumb_bulger.jpg" alt="Bulger on Trial">
                        </figure>
                        <img src="https://timeline.knightlab.com/static/img/examples/logos/logo_wbur.png" class="logo-inline">
                        <h4>Bulger on Trial</h4>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="https://www.publicintegrity.org/2014/07/15/15037/decades-making-decline-irs-nonprofit-regulation" class="button button-light">
                        <figure class="examples">
                            <img src="https://timeline.knightlab.com/static/img/examples/thumbs/thumb_supremecourt.jpg" alt="The Decline of IRS Nonprofit Regulation">
                        </figure>
                        <img src="https://timeline.knightlab.com/static/img/examples/logos/logo_centerforpublicintegrity.png" class="logo-inline">
                        <h4>The Decline of IRS Nonprofit Regulation</h4>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="http://www.denverpost.com/breakingnews/ci_21119904" class="button button-light">
                        <figure class="examples">
                            <img src="https://timeline.knightlab.com/static/img/examples/thumbs/thumb_denver_shooting.jpg" alt="Aurora, Colorado Movie Theater Shooting">
                        </figure>
                        <img src="https://timeline.knightlab.com/static/img/examples/logos/logo_denverpost.png" class="logo-inline">
                        <h4>Aurora, Colorado Movie Theater Shooting</h4>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="https://www.engadget.com/2016/04/22/microsoft-mobile-timeline/" class="button button-light">
                        <figure class="examples">
                            <img src="https://timeline.knightlab.com/static/img/examples/thumbs/thumb_mobile_device.jpg" alt="The Collapse of Microsoft and Nokia&#x27;s Mobile Business">
                        </figure>
                        <img src="https://timeline.knightlab.com/static/img/examples/logos/logo_engadget.png" class="logo-inline">
                        <h4>The Collapse of Microsoft and Nokia&#x27;s Mobile Business</h4>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="http://www.ibtimes.com/islamic-state-timeline-shows-how-isis-expanded-one-year-two-countries-ten-1959705" class="button button-light">
                        <figure class="examples">
                            <img src="https://timeline.knightlab.com/static/img/examples/thumbs/thumb_isis.jpg" alt="How ISIS Spread to 10 Countries">
                        </figure>
                        <img src="https://timeline.knightlab.com/static/img/examples/logos/logo_ibt.png" class="logo-inline">
                        <h4>How ISIS Spread to 10 Countries</h4>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="http://www.ksat.com/news/texas/middle-school-teacher-had-sexual-relationship-with-student-authorities-say_" class="button button-light">
                        <figure class="examples">
                            <img src="https://timeline.knightlab.com/static/img/examples/thumbs/thumb_perpwalk.jpg" alt="Reported Sexual Assault Cases by Texas Educators">
                        </figure>
                        <img src="https://timeline.knightlab.com/static/img/examples/logos/logo_ksat.png" class="logo-inline">
                        <h4>Reported Sexual Assault Cases by Texas Educators</h4>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="http://vinepair.com/wine-colonized-world-wine-history/#1" class="button button-light">
                        <figure class="examples">
                            <img src="https://timeline.knightlab.com/static/img/examples/thumbs/thumb_wine.jpg" alt="A History of Wine Around the World">
                        </figure>
                        <img src="https://timeline.knightlab.com/static/img/examples/logos/logo_vinepair.png" class="logo-inline">
                        <h4>A History of Wine Around the World</h4>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="http://mashable.com/2014/03/13/timeline-malaysia-airlines-flight-370/?utm_cid&#x3D;mash-com-Tw-main-link#hzbp7TyJREqX" class="button button-light">
                        <figure class="examples">
                            <img src="https://timeline.knightlab.com/static/img/examples/thumbs/thumb_malaysia-airlines.jpg" alt="The Mystery of Malaysia Airlines Flight 370">
                        </figure>
                        <img src="https://timeline.knightlab.com/static/img/examples/logos/logo_mashable.png" class="logo-inline">
                        <h4>The Mystery of Malaysia Airlines Flight 370</h4>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="https://timeline.knightlab.com/examples/user-interface/index.html" class="button button-light">
                        <figure class="examples">
                            <img src="https://timeline.knightlab.com/static/img/examples/thumbs/thumb_userinterface.png" alt="Revolutionary User Interfaces">
                        </figure>
                        
                        <h4>Revolutionary User Interfaces</h4>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="http://beyondtheseal.com/#19" class="button button-light">
                        <figure class="examples">
                            <img src="https://timeline.knightlab.com/static/img/examples/thumbs/thumb_banana.png" alt="A Brief History of the Banana Business">
                        </figure>
                        
                        <h4>A Brief History of the Banana Business</h4>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="https://timeline.knightlab.com/examples/republican/index.html" class="button button-light">
                        <figure class="examples">
                            <img src="https://timeline.knightlab.com/static/img/examples/thumbs/thumb_republican.jpg" alt="The Republican Run-Up">
                        </figure>
                        
                        <h4>The Republican Run-Up</h4>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="https://timeline.knightlab.com/examples/houston/index.html" class="button button-light">
                        <figure class="examples">
                            <img src="https://timeline.knightlab.com/static/img/examples/thumbs/thumb_houston.jpg" alt="Whitney Houston: 1963-2012">
                        </figure>
                        
                        <h4>Whitney Houston: 1963-2012</h4>
                    </a>
                </div>
        </div>
    </div>
</section>


        <section class="section-color section-color-complement" id="make">
            <div class="container">
                <h2>Make a Timeline</h2>
                <p>
                    TimelineJS works on any site or blog. Make your own in four easy steps. <br>      <em>Having trouble? Watch our <a href="https://vimeo.com/143407878">video</a>, or see the <a href="#help">help section below</a>.</em>
                </p>

                <ol class="instructional-steps">

                    <li class="step grid">
                        <div class="step-number column-2">
                            <h6>Create your spreadsheet</h6>
                        </div>
                        <div class="step-details column-10">
                            <p>Build a new Google Spreadsheet using our template. You'll need to copy the template to your own Google Drive account by clicking the "Use this template" button.</p>
                            <p>Drop dates, text and links to media into the appropriate columns. For more about working with our template, see our <a href="#">help docs.</a></p>
                            <a class="button button-complement" href="https://drive.google.com/previewtemplate?id=1pHBvXN7nmGkiG8uQSUB82eNlnL8xHu6kydzH_-eguHQ&mode=public" target="_blank">Get the Spreadsheet Template &nbsp;<span class="icon-new-tab"></span></a>
                            <p class="note">Don't change the column headers, don't remove any columns, and don't leave any blank rows in your spreadsheet.</p>
                        </div>
                    </li>
                    <li class="step grid">
                        <div class="step-number column-2">
                            <h6>Publish to the web</h6>
                        </div>
                        <div class="step-details column-10">

                            <div class="grid">
                                <div class="grid-item">
                                    <p>Under the File menu, select “Publish to the Web.”</p>
                                    <img class="img-shadow"  src="http://timeline.knightlab.com/static/img/make/publish_to_web_small.png" />
                                    <p>In the next window, click the blue "publish" button. When asked, "Are you sure…?" click OK.</p>
                                    <p>Now, copy the URL that appears in the center of the window. You'll use this in the next step.</p>
                                </div>
                                <div class="grid-item">
                                    <img class="img-shadow"  src="http://timeline.knightlab.com/static/img/make/publish_to_web_button_small.png" />
                                    <img class="img-shadow"  src="http://timeline.knightlab.com/static/img/make/publish_to_web_url_small.png" />
                                </div>
                            </div>
                            <p class="note note-alert">
                                The following has changed as of 21 November 2016!<br/><br/>
                                Close the 'Publish to the web' window. Copy the URL for your Timeline from the browser's address bar. It should look something like this:<br />
                                 <code>https://docs.google.com/spreadsheets/d/1xuY4upIooEeszZ_lCmeNx24eSFWe0rHe9ZdqH2xqVNk/edit#gid=0</code>
                                <br/><br/>Disregard the URL that appears in the "publish to the web" window. It used to be used below, but changes to Google mean that you'll get an error if you use it now.
                            </p>
                        </div>

                    </li>
                    <li class="step grid">
                        <div class="step-number column-2">
                            <h6>Generate your timeline</h6>
                        </div>
                        <div class="step-details column-10">
                            <p>Copy/paste spreadsheet URL into the box below to generate your timeline. (Make sure you've published the spreadsheet.)</p>
                            <form>
                                <div class="input-group-label column-12">
                                    <label class="input-group-addon" for="inlinelabel">Google Spreadsheet URL</label>
                                    <input type="text" placeholder="1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI" name="inlinelabel">
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="step grid">
                        <div class="step-number column-2">
                            <h6>Share your timeline</h6>
                        </div>
                        <div class="step-details column-10">

                            <h6>Share Link</h6>
                            <!-- <ul class="list--social">
                                <li>
                                    <a class="link--no-style" href="#" ><span class="icon-twitter text-color-complement"></span></a>
                                </li>
                                <li>
                                    <a class="link--no-style" href="#"><span class="icon-facebook text-color-complement"></span></a>
                                </li>
                            </ul> -->

                            <form>
                                <textarea rows="3" type="text" "readonly" name="textplaceholder" value="" style="height:4rem;">
https://cdn.knightlab.com/libs/timeline/latest/embed/?source=1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI&font=Bevan-PotanoSans&maptype=toner&width=600&height=600
                                </textarea>
                            </form>

                            <h6>Embed</h6>
                            <p class="small">Grab the embed code and paste it on your site where you want your timeline to appear (just like a YouTube video). <em>If you're embedding on Medium.com just paste the link from the right where you want your timeline to appear.</em></p>
                            <form>
                                <textarea rows="3" readonly="readonly" type="text" name="textplaceholder" value="" style="height:5rem;">
&lt;iframe src=&apos;https://cdn.knightlab.com/libs/timeline/latest/embed/?source=1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI&amp;font=Bevan-PotanoSans&amp;maptype=toner&amp;width=600&amp;height=600&apos; width=&apos;600&apos; height=&apos;600&apos; frameborder=&apos;0&apos;&gt;&lt;/iframe&gt;
                                </textarea>
                            </form>
                            <a class="button button-complement" href="#" target="_blank">Preview</a>&nbsp;
                            <a class="button button-light" href="#" target="_blank">Open Preview in a new window  &nbsp;<span class="icon-new-tab"></span></a>


                        </div>
                    </li>
                </ol>
            </div>

            <div id="preview-embed">
                <div class="container">
                    <h3>Preview Embed</h3>
                </div>
                <section id="demo" class="container-fluid">
                    <div id="preview-embed-iframe" class="product-demo">
                        <iframe src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI&amp;font=Default&amp;lang=en&amp;initial_zoom=2&amp;height=650" width="100%" height="650" frameborder="0"></iframe>
                    </div>

                </section>
            </div>
        </section>

        <section class="section container" id="help">

    <div class="grid">
        <div class="column-8">
            <h2>Help</h2>
            <p>
                Need help? First, please be sure to look at our list of <a href="#faq">frequently asked questions</a> below. If you're brand new to Timeline JS, you may also want to watch our <a href="https://vimeo.com/143407878" target="_blank">introductory video</a>.
            </p>
            <p>
                If you don't find an answer there, try our <a href="https://knightlab.zendesk.com/forums/22551396-TimelineJS">support forums</a> or use our <a href="https://knightlab.zendesk.com/anonymous_requests/new">tech support web form.</a> <strong>Please be clear</strong> with your question, <strong>include a link to your spreadsheet</strong>, and if appropriate, a link to a page which shows the issue with which you need help. <strong>We can only answer support questions in English.</strong> We try to be prompt, but please understand that we do not have a dedicated tech support staff.
            </p>
            <p class="note">
                <strong>Find a bug?</strong> If you are confident you have found a bug, please report it as <a href="https://github.com/NUKnightLab/TimelineJS3/issues">a GitHub issue</a>. Be sure to include detailed instructions on how to reproduce the bug. If you're not sure, please start with <a href="https://knightlab.zendesk.com/anonymous_requests/new">the tech support system</a>.
            </p>
        </div>
        <div class="column-4">
            <h3>Technical documentation</h3>
            <p>Go further with Timeline:</p>
            <ul>
                    <li><a href="/docs/using-spreadsheets.html">Use our spreadsheet template</a></li>
                    <li><a href="/docs/media-types.html">Supported Media Types</a></li>
                    <li><a href="/docs/json-format.html">JSON data format reference</a></li>
                    <li><a href="/docs/overriding-styles.html">Using the TimelineJS CSS selectors</a></li>
                    <li><a href="/docs/options.html">Timeline Configuration Options</a></li>
                    <li><a href="/docs/instantiate-a-timeline.html">Using TimelineJS in Javascript</a></li>
            </ul>
        </div>
    </div>

    <div class="grid" id="faq">
    <div class="grid-item">
        <h3>Frequently asked questions</h3>
        <ul class="accordion">
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>How do I edit my timeline?</h3>
                    <div class="accordion-content">
                        Once you've created a timeline, you can make changes by going back to your Google spreadsheet. Changes you make to the spreadsheet are automatically available to your Timeline—you don't need to repeat the 'publish to the web' step (step #2). If you want to make changes to the optional settings, you will need to update your embed code, but if you are only changing content in the spreadsheet, then there's nothing else to do.
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>What web browsers does TimelineJS work with?</h3>
                    <div class="accordion-content">
                        Our primary development and testing browser is Google Chrome. We adhere closely to web standards, so we believe that TimelineJS should work effectively in all modern web browsers. TimelineJS is known to not work with Internet Explorer versions before IE10.
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>What are my options for changing how my Timeline looks?</h3>
                    <div class="accordion-content">
                        First, make sure you know everything you can do in the spreadsheet configuration, like background colors and images. Also, check out the optional settings part of 'step 3' of the authoring tool. You can change the fonts, the position of the timeline navigation, and the initial zoom level. If you still want to do more, there are some configuration options available. Most of those are for fine tuning, but some of them may be helpful.
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>There aren&#x27;t enough options. I want more control over the [font size/color/etc]. Can I change things using CSS?</h3>
                    <div class="accordion-content">
                        Because there are so many details to the styling, this is not exactly simple, but, if you have some technical capacity, you can override TimelineJS's <abbr title='Cascading Style Sheets'>CSS</abbr> rules and have complete control over the look of the timeline. For details, see <a href='/docs/overriding-styles.html'>Using the TimelineJS CSS selectors</a>. You will need to be able to <a href='/docs/instantiate-a-timeline.html'>instantiate the Timeline</a> in javascript on your own page. (There is no way to override the CSS using the <code>iframe</code> embed.) Then, either in <code>&lt;style&gt;</code> tags in that page, or in an external stylesheet, you can specify CSS rules changing some or all of TimelineJS's default presentation. The basis of TimelineJS's styles are in <a href='https://github.com/NUKnightLab/TimelineJS3/tree/master/source/less'>these files</a>, which use the <a href='http://lesscss.org/'>Less CSS preprocessor</a>.
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>How can I categorize or group my events?</h3>
                    <div class="accordion-content">
                        Every event in a timeline can have a group property. Events with the same group are shown in the same row or adjacent rows, and the common value of their group property is used as a label at the left edge of the timeline. Groups can be set using the 'group' column in the Google Spreadsheet or the 'group' property of a JSON slide object. TimelineJS does not support any other special styling for events in the same group.
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>The first slide in my timeline isn&#x27;t the first chronologically. Why did this happen?</h3>
                    <div class="accordion-content">
                        
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>Can I make media images clickable?</h3>
                    <div class="accordion-content">
                        
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>How can I format text (add line breaks, bold, italics)?</h3>
                    <div class="accordion-content">
                        
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>How do I enter BCE dates?</h3>
                    <div class="accordion-content">
                        
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>How do I create very ancient dates?</h3>
                    <div class="accordion-content">
                        
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>Who can access the data in my Google spreadsheet?</h3>
                    <div class="accordion-content">
                        
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>Privacy is very important to me. How should I use TimelineJS?</h3>
                    <div class="accordion-content">
                        
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>Will my spreadsheet get picked up by search engines?</h3>
                    <div class="accordion-content">
                        
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>Can I use TimelineJS with Wordpress? </h3>
                    <div class="accordion-content">
                        
                    </div>
                </li>
                <li>
                    <input type="checkbox" checked>
                    <i></i>
                    <h3>Is TimelineJS free for commercial use?</h3>
                    <div class="accordion-content">
                        
                    </div>
                </li>
        </ul>
    </div>
</div>


</section>




    </article>

    <section class="moth--product">
    <h3>Storytelling Tools</h3>
    <p class="product-tagline">We build easy-to-use tools that can help you tell better stories.</p>
    <div class="grid grid-size-4 grid-size-2-tablet grid-size-1-phone">
        <div class="grid-item">
            <a href="http://timeline.knightlab.com/" class="button button-dark">
                <img class="img-rounded" src="https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-timeline.png">
                <h4 class="product-logo product-logo-small">Timeline <span>JS</span></h4>
                <p class="product-tagline">Easy-to-make, beautiful timelines.</p>
            </a>
        </div>
        <div class="grid-item">
            <a href="http://storymap.knightlab.com/" class="button button-dark">
                <img class="img-rounded" src="https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-storymap.png">
                <h4 class="product-logo product-logo-small">StoryMap <span>JS</span></h4>
                <p class="product-tagline">Maps that tell stories.</p>

            </a>
        </div>
        <div class="grid-item">
            <a href="http://juxtapose.knightlab.com/" class="button button-dark">
                <img class="img-rounded" src="https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-juxtapose.jpg">
                <h4 class="product-logo product-logo-small">Juxtapose <span>JS</span></h4>
                <p class="product-tagline">Easy-to-make frame comparisons.</p>
            </a>
        </div>
        <div class="grid-item">
            <a href="http://soundcite.knightlab.com/" class="button button-dark">
                <img class="img-rounded" src="https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-soundcite.png">
                <h4 class="product-logo product-logo-small">Soundcite <span>JS</span></h4>
                <p class="product-tagline">Seamless inline audio.</p>
            </a>
        </div>
    </div>
    <a href="http://knightlab.northwestern.edu/projects/" class="button button-dark" style="margin-top:1rem;z-index:22;">View More</a>
</section>

    <footer class="footer-knightlab--dark">
    <div class="container">
        <div class='grid grid-center'>
            <div class='column-2 column-4-phone column-4-tablet'>
                <a href="http://knightlab.northwestern.edu" target="_blank">
                    <img src="https://cdn.knightlab.com/libs/orangeline/latest/assets/logo-knightlab-stacked-dark-small.png" style="margin-left:auto;">
                </a>
                <ul class="list--social text-align-center">
                    <li><a class="link--no-style" href="http://www.twitter.com/knightlab" target="_blank" title="Knight Lab on Twitter"><span class="icon-twitter"></span></a></li>
                    <li><a class="link--no-style" href="https://www.facebook.com/knightlab" target="_blank" title="Knight Lab on Facebook"><span class="icon-facebook"></span></a></li>
                    <li><a class="link--no-style" href="https://github.com/NUKnightLab/" target="_blank" title="Knight Lab on GitHub"><span class="icon-github"></span></a></li>
                </ul>
            </div>
            <div class='column-4 column-5-tablet column-6-phone footer-description'>
                <p>
                    The <a title="Northwestern University" href="http://www.northwestern.edu/" target="_blank">Northwestern University</a> Knight Lab is a team of technologists and journalists working at advancing news media innovation through exploration and experimentation.
                </p>
                <div class="grid-size-2 grid-size-2-phone">
                    <div class="grid-item">
                        <a title="Medill School of Journalism, Media, Integrated Marketing Communications" href="http://www.medill.northwestern.edu/" target="_blank">
                            <img src="https://cdn.knightlab.com/libs/orangeline/latest/assets/logo-medill-dark.png">
                        </a>
                    </div>

                    <div class="grid-item">
                        <a title="McCormick School of Engineering" href="http://www.mccormick.northwestern.edu/" target="_blank">
                            <img src="https://cdn.knightlab.com/libs/orangeline/latest/assets/logo-mccormick-dark.png">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-center">
            <div class="grid-item">
            <address itemscope="" itemtype="http://data-vocabulary.org/Organization">
                <span style="display:none;" itemprop="name" title="Knight Lab | Advancing news media innovation through exploration and experimentation." class="address-name">Knight Lab</span>
                <span itemprop="tel" class="tel">(847) 467-4971</span>
                <span itemprop="address" itemscope="" itemtype="http://data-vocabulary.org/Address" class="address">
                    <span itemprop="street-address" class="street-address">1845 Sheridan Road</span>
                    <span class="room-num">Fisk #109 &amp; #111</span>
                    <div class="address-group">
                        <span itemprop="locality">Evanston,</span> <span itemprop="region">IL</span> <span itemprop="postal-code">60208 </span>
                        <span style="display:none;" itemprop="geo" itemscope="" itemtype="http://www.data-vocabulary.org/Geo/" class="geo">
                            Latitude: <span itemprop="latitude">42.056893</span><br>Longitude:
                            <span itemprop="longitude">-87.676735</span>
                        </span>
                        <a style="display:none;" href="http://knightlab.northwestern.edu" itemprop="url" class="url">Northwesten University Knight Lab | Advancing media innovation through exploration and experimentation.</a>
                    </div>
                </span>
            </address>
            <span class="copyright">© Copyright 2016 Northwestern University</span>
            </div>
        </div>
    </div>
</footer>
<script src="../../js/main.js"></script>


</body>

</html>
