<!DOCTYPE html>
<html lang="en"><!--

  	88888888888 d8b                        888 d8b                888888   d8888b
  	    888     Y8P                        888 Y8P                   88b d88P  Y88b
  	    888                                888                       888 Y88b
  	    888     888 88888b d88b     d88b   888 888 88888b     d88b   888   Y888b
  	    888     888 888  888  88b d8P  Y8b 888 888 888  88b d8P  Y8b 888      Y88b
  	    888     888 888  888  888 88888888 888 888 888  888 88888888 888        888
  	    888     888 888  888  888 Y8b      888 888 888  888 Y8b      88P Y88b  d88P
  	    888     888 888  888  888   Y8888  888 888 888  888   Y8888  888   Y8888P
  	                                                                d88P
  	                                                              d88P
  	                                                            888P
  	 -->
  <head>
    <title>Test Timeline embedded with iframe</title>
    <meta name="description" content="Demonstrating an iframe embed, to verify that it works over HTTPS">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <!-- Style-->
    <style>
      html, body {
      height:100%;
      padding: 0px;
      margin: 0px;
      }
    </style>
	<link rel="shortcut icon" href="https://cdn.knightlab.com/libs/blueline/latest/assets/logos/favicon.ico">
  </head>
  <body>
  <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI&font=Default&lang=en&initial_zoom=2&height=650' width='100%' height='650' frameborder='0'></iframe>

      {% include "_analytics.html" %}

  </body>
</html>
