 <!-- Add the class "sticky" to "top-bar" to make the navbar sticky. -->
 <nav class="top-bar" data-topbar role="navigation">
   <div class="row">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/index.html">TimelineJS</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="logo"><a href="//knightlab.northwestern.edu/"><img width="130" src="https://cdn.knightlab.com/libs/purpleline/latest/img/logos/logo_horizontal_NOtagline_383x91_transparent_NOpadding.png"  alt="Logo for Northwestern University Knight Lab"></a></li>
      </ul>
      <!-- Left Nav Section -->
      <ul class="left">
        <li><a href="/index.html#make">Make</a></li>
        <li><a href="/index.html#examples">Examples</a></li>
        <li class="active"><a href="/docs/index.html">Documentation</a></li>
      </ul>
    </section>
  </div>
</nav>
