<div class="new-version-banner">
    <p>We&rsquo;ve developed a brand new version of Timeline! <a href="/ng/">Try it here</a>. <a href="https://knightlab.northwestern.edu/2026/08/13/timelinejs-reimagined/index.html">Read more about it.</a></p>
</div>
