<section id="roadmap">
<div class="row">
    <div class="small-12 medium-8 columns">
      <h2>Roadmap</h2>
      <p>
      We know that TimelineJS is very popular, so we want to make sure that you understand our plans. TimelineJS3 will be in "beta" until approximately September 2015. Once we're confident that there are no serious issues,
      we'll move this website to replace the current <a href="http://timeline.knightlab.com">timeline.knightlab.com</a>, so that everyone who makes new timelines will use the new software.
      </p>
      <p>
        Don't worry: even when we do that, <strong>your existing timelines made with either the new or old version will continue to work</strong>, with no action required. Also, as we make improvements to TimelineJS3, the timelines you make now will automatically take advantage of them.
      </p>
      <p>
        However, we have already been tapering off work on any changes to the original TimelineJS, and that will continue as we focus on TimelineJS3. If you discover issues with the original TimelineJS, we will make sure that they aren't issues in TimelineJS3 and we'll encourage you to switch. We've made the new version work with the old spreadsheets, so that should be pretty painless.
      </p>
    </div>
    <div class="small-12 medium-4 columns panel">
      <h4>Why is it TimelineJS3?</h4>
      <p>Some people have wondered why we are calling this TimelineJS3. Was there a TimelineJS2?</p>
      <p>As with other software, we are frequently making changes to our code, and each time we make a new release,
we update the version number. While we never publicly talked about "TimelineJS2," the version number of the current software is <code>2.36.0</code>. 
      </p>
      <p>
        Once TimelineJS3 is out of beta, we'll just call it TimelineJS, but it will still have version numbers. So TimelineJS3's version numbering begins with <code>3.0.0</code>.
      </p>
  </div>
</div>
</section>
