<section class="moth--product">
    <h3>Storytelling Tools</h3>
    <p class="product-tagline">We build easy-to-use tools that can help you tell better stories.</p>
    <div class="container-fluid">
    <div class="cards cards--3">
    <div class="card">
        <a
        href="http://juxtapose.knightlab.com/?_gl=1*yif1ti*_ga*MTIwMjk5MTM1Ni4xNzQxMTAzMDUx*_ga_8F4WPDMPL5*czE3NDkwNTc1NDUkbzIwJGcwJHQxNzQ5MDU3NTQ1JGo2MCRsMCRoMA.."
        >
        <header class="header-image">
            <div
            class="header-image-background"
            style="
                background-image: url(https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-juxtapose.jpg);
            "
            ></div>
        </header>
        <article>
            <h3 class="product-logo product-logo-smaller">
            Juxtapose <span>JS</span>
            </h3>
            <p class="product-tagline">Easy-to-make frame comparisons.</p>
        </article>
        </a>
    </div>

    <div class="card">
        <a href="https://scene.knightlab.com/">
        <header class="header-image">
            <div
            class="header-image-background"
            style="
                background-image: url(https://media.knightlab.com/scenevr/screenshot-scenevr.jpg);
            "
            ></div>
        </header>
        <article>
            <h3 class="product-logo product-logo-smaller">Scene <span>VR</span></h3>
            <p class="product-tagline">Easy-to-make VR stories.</p>
        </article>
        </a>
    </div>

    <div class="card">
        <a href="http://soundcite.knightlab.com/">
        <header class="header-image">
            <div
            class="header-image-background"
            style="
                background-image: url(https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-soundcite.png);
            "
            ></div>
        </header>
        <article>
            <h3 class="product-logo product-logo-smaller">
            Soundcite <span>JS</span>
            </h3>
            <p class="product-tagline">Seamless inline audio.</p>
        </article>
        </a>
    </div>

    <div class="card">
        <a href="http://storyline.knightlab.com/">
        <header class="header-image">
            <div
            class="header-image-background"
            style="
                background-image: url(https://storyline.knightlab.com/screenshot-storyline.png);
            "
            ></div>
        </header>
        <article>
            <h3 class="product-logo product-logo-smaller">
            Storyline <span>JS</span>
            </h3>
            <p class="product-tagline">Tell the story behind the numbers.</p>
        </article>
        </a>
    </div>

    <div class="card">
        <a href="http://storymap.knightlab.com/">
        <header class="header-image">
            <div
            class="header-image-background"
            style="
                background-image: url(https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-storymap.png);
            "
            ></div>
        </header>
        <article>
            <h3 class="product-logo product-logo-smaller">
            StoryMap <span>JS</span>
            </h3>
            <p class="product-tagline">Maps that tell stories.</p>
        </article>
        </a>
    </div>

    <div class="card">
        <a href="http://timeline.knightlab.com/">
        <header class="header-image">
            <div
            class="header-image-background"
            style="
                background-image: url(https://cdn.knightlab.com/libs/orangeline/latest/assets/screenshot-timeline.png);
            "
            ></div>
        </header>
        <article>
            <h3 class="product-logo product-logo-smaller">
            Timeline <span>JS</span>
            </h3>
            <p class="product-tagline">Easy-to-make, beautiful timelines.</p>
        </article>
        </a>
    </div>
    </div>
    </div>

    <a href="https://knightlab.northwestern.edu/projects/" class="button button-dark" style="margin-top:1rem;z-index:22;">View More</a>
</section>
