<header class="header-product">
    <h1 class="product-logo product-logo-large">Timeline <span>JS</span></h1>
    <h2 class="product-tagline">Easy-to-make, beautiful timelines.</h2>
    <a class="button button-secondary button-large button-small-phone" href="#make">Make a Timeline</a>
    <nav id="navbar-secondary" class="navbar navbar-subnav column-hide-phone">
        <ul>
            <li class="logo">
                <h2 class="product-logo product-logo-smallest">Timeline <span>JS</span></h2>
            </li>
        </ul>
        <ul>
                <li><a class="button" href="#overview">Overview</a></li>
                <li><a class="button" href="#examples">Examples</a></li>
                <li><a class="button" href="#make">Make a Timeline</a></li>
                <li><a class="button" href="#help">Help</a></li>
        </ul>
    </nav>
</header>
