    <section class="section-color section-color-complement" id="make">
            <div class="container">
                <h2>Make a Timeline</h2>
                <p>
                    TimelineJS works on any site or blog. Make your own in four easy steps. <br>      <em>Having trouble? Watch our <a href="https://vimeo.com/143407878">video</a>, or see the <a href="#help">help section below</a>.</em>
                </p>
                <ol class="instructional-steps">
                    <li class="step grid">
                        <div class="step-number column-2">
                            <h6>Create your spreadsheet</h6>
                        </div>
                        <div class="step-details column-10">
                            <p>Build a new Google Spreadsheet using our template. You'll need to copy the template to your own Google Drive account by clicking the "Use this template" button.</p>
                            <p>Drop dates, text and links to media into the appropriate columns. For more about working with our template, see our <a href="#">help docs.</a></p>
                            <a class="button button-complement" href="https://drive.google.com/previewtemplate?id=1pHBvXN7nmGkiG8uQSUB82eNlnL8xHu6kydzH_-eguHQ&mode=public" target="_blank">Get the Spreadsheet Template &nbsp;<span class="icon-new-tab"></span></a>
                            <p class="note">Don't change the column headers, don't remove any columns, and don't leave any blank rows in your spreadsheet.</p>
                        </div>
                    </li>
                    <li class="step grid">
                        <div class="step-number column-2">
                            <h6>Publish to the web</h6>
                        </div>
                        <div class="step-details column-10">
                            <div class="grid">
                                <div class="grid-item">
                                    <p>Under the File menu, select “Publish to the Web.”</p>
                                    <img class="img-shadow"  src="http://timeline.knightlab.com/static/img/make/publish_to_web_small.png" />
                                    <p>In the next window, click the blue "publish" button. When asked, "Are you sure…?" click OK.</p>
                                    <p>Now, copy the URL that appears in the center of the window. You'll use this in the next step.</p>
                                </div>
                                <div class="grid-item">
                                    <img class="img-shadow"  src="http://timeline.knightlab.com/static/img/make/publish_to_web_button_small.png" />
                                    <img class="img-shadow"  src="http://timeline.knightlab.com/static/img/make/publish_to_web_url_small.png" />
                                </div>
                            </div>
                            <p class="note note-alert">
                                The following has changed as of 21 November 2016!<br/><br/>
                                Close the 'Publish to the web' window. Copy the URL for your Timeline from the browser's address bar. It should look something like this:<br />
                                 <code>https://docs.google.com/spreadsheets/d/1xuY4upIooEeszZ_lCmeNx24eSFWe0rHe9ZdqH2xqVNk/edit#gid=0</code>
                                <br/><br/>Disregard the URL that appears in the "publish to the web" window. It used to be used below, but changes to Google mean that you'll get an error if you use it now.
                            </p>
                        </div>
                    </li>
                    <li class="step grid">
                        <div class="step-number column-2">
                            <h6>Generate your timeline</h6>
                        </div>
                        <div class="step-details column-10">
                            <p>Copy/paste spreadsheet URL into the box below to generate your timeline. (Make sure you've published the spreadsheet.)</p>
                            <form>
                                <div class="input-group-label column-12">
                                    <label class="input-group-addon" for="inlinelabel">Google Spreadsheet URL</label>
                                    <input type="text" placeholder="1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI" name="inlinelabel">
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="step grid">
                        <div class="step-number column-2">
                            <h6>Share your timeline</h6>
                        </div>
                        <div class="step-details column-10">
                            <h6>Share Link</h6>
                            <!-- <ul class="list--social">
                                <li>
                                    <a class="link--no-style" href="#" ><span class="icon-twitter text-color-complement"></span></a>
                                </li>
                                <li>
                                    <a class="link--no-style" href="#"><span class="icon-facebook text-color-complement"></span></a>
                                </li>
                            </ul> -->
                            <form>
                                <textarea rows="3" type="text" "readonly" name="textplaceholder" value="" style="height:4rem;">
https://cdn.knightlab.com/libs/timeline/latest/embed/?source=1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI&font=Bevan-PotanoSans&maptype=toner&width=600&height=600
                                </textarea>
                            </form>
                            <h6>Embed</h6>
                            <p class="small">Grab the embed code and paste it on your site where you want your timeline to appear (just like a YouTube video). <em>If you're embedding on Medium.com just paste the link from the right where you want your timeline to appear.</em></p>
                            <form>
                                <textarea rows="3" readonly="readonly" type="text" name="textplaceholder" value="" style="height:5rem;">
&lt;iframe src=&apos;https://cdn.knightlab.com/libs/timeline/latest/embed/?source=1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI&amp;font=Bevan-PotanoSans&amp;maptype=toner&amp;width=600&amp;height=600&apos; width=&apos;600&apos; height=&apos;600&apos; frameborder=&apos;0&apos;&gt;&lt;/iframe&gt;
                                </textarea>
                            </form>
                            <a class="button button-complement" href="#" target="_blank">Preview</a>&nbsp;
                            <a class="button button-light" href="#" target="_blank">Open Preview in a new window  &nbsp;<span class="icon-new-tab"></span></a>
                        </div>
                    </li>
                </ol>
            </div>
            <div id="preview-embed">
                <div class="container">
                    <h3>Preview Embed</h3>
                </div>
                <section id="demo" class="container-fluid">
                    <div id="preview-embed-iframe" class="product-demo">
                        <iframe src="https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI&amp;font=Default&amp;lang=en&amp;initial_zoom=2&amp;height=650" width="100%" height="650" frameborder="0"></iframe>
                    </div>
                </section>
            </div>
    </section>
